body
{
  background:#000;
}
#backgroundVideo,#background
{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1.5;
}
#backgroundVideo
{
  opacity: .2;
  transform: scale(200%);
}
#background
{
  background:url('../icons/ct/backgroundStatic.png') center no-repeat;
  background-size:cover ;
  z-index: -2;
  opacity: 1.5;
}
#content
{
  top:0;
  left:0;
  position: fixed;
  height: 400px;
  margin:10px;
  width: calc(100vw - 20px);
  background:#333;
  background:unset;
  border-radius: 0px;
  /*
  outline:2px solid #000;
  border:2px solid #FFF;
  */
  box-shadow: -1px -1px 0px 1px #777, 1px 1px 0px 2px #000;
  box-shadow: unset;
}
#title
{
  position: absolute;
  height: 200px;
  width: 200px;
  background:url("../icons/ct/ctLogoStatic.png"); 
  background-size: 100%;
  background-repeat: none;
  background-position: center;
  left:calc(50vw - 100px);
  top:20px;
  outline:1px solid #AAA;
  outline:unset;
  border-radius:10px;
  animation: title 4s infinite ease-in-out;
  
}
@keyframes title{
  0%{margin-top:0px;}
  50%{margin-top:10px;}
  100%{margin-top:0px;}
}
#cards
{
  position: absolute;
  left: 0;
  top:240px;
  width:100%;
}
.card
{
  position: relative;
  float: left;
  height: 100px;
  width: calc(100% - 100px);
  width: 100px;
  width: calc(25% - 20px);
  background:#FFF;
  box-shadow: unset;
  outline:unset;
  padding:10px;
  border-radius: 80px;
  margin:20px 40px 20px 40px;
  margin:0;
  color:black;
  max-width: 350px;
  animation: card 10s infinite;
  animation-delay: unset;
  animation-timing-function:linear;

  background:#00000000;
}
.card.tiktok{animation-delay: 1s}
.card.youtube{animation-delay: 2s}
.card.reddit{animation-delay: 3s}
@keyframes card{
  0%{transform: translate(0%,0%)}
  12.5%{transform: translate(-2%,2%)}
  25%{transform: translate(-4%,%)}
  37.5%{transform: translate(-2%,-2%)}
  50%{transform: translate(0%,0%)}
  62.5%{transform: translate(2%,2%)}
  75%{transform: translate(4%,0%)}
  87.5%{transform: translate(2%,-2%)}
  100%{transform: translate(0%,0%)}
}
@keyframes notcard{
  0%{transform: translate(0%,0%)}
  12.5%{transform: translate(-2.5%,2.5%)}
  25%{transform: translate(-5%,0%)}
  37.5%{transform: translate(-2.5%,-2.5%)}
  50%{transform: translate(0%,0%)}
  62.5%{transform: translate(2.5%,2.5%)}
  75%{transform: translate(5%,0%)}
  87.5%{transform: translate(2.5%,-2.5%)}
}
.card:hover,.card:active
{
}
.logo,.name
{
  position: relative;
  float:left;
  top:0;
  height: 100%;
}
.logo.instagram{background-image: url('../icons/InstagramMonoWhite.svg');}
.logo.tiktok{background-image: url('../icons/TikTokMonoWhite.svg')}
.logo.youtube{background-image: url('../icons/YoutubeMonoWhite.svg')}
.logo.reddit{background-image: url('../icons/RedditMonoWhite.svg')}
.logo.instagram{background-image: url('../icons/ct/instagram.png');}
.logo.tiktok{background-image: url('../icons/ct/tiktok.png');}
.logo.youtube{background-image: url('../icons/ct/youtube.png');}
.logo.reddit{background-image: url('../icons/ct/reddit.png');}

.logo.instagram::after{content: 'instagram';}
.logo.tiktok::after{content: 'tiktok';}
.logo.youtube::after{content: 'youtube';}
.logo.reddit::after{content: 'reddit';}

.logo.instagram::after,.logo.tiktok::after,.logo.youtube::after,.logo.reddit::after
{
  content:'';
  position: absolute;
  color:white;
  text-align: center;
  top:100%;
  width: 100%;
  box-shadow: none;
  text-transform:capitalize;
  text-shadow: 2px 2px 0 #000;
}

.logo
{
  margin-left: unset;
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.name
{
  /*width: calc(100% - 100px);*/
  font-family: 'Work Sans','Arial';
  font-weight: 400;
  font-size: 7vw;
  color:inherit;
  line-height: 75px;
  text-align: left;
  text-indent: 0px;
}
.logo.reddit{background-position: center 45%}

@media (max-width:449px){
  .card
  {
   margin:10px 20px 10px 20px;
    margin:0;
   width: calc(100% - 60px);
   width: 100px;
   width: calc(50% - 20px);
  }
  .logo,.name
  {
    width:100%;
  }
  .logo
  {
    background-size: 100px;
  }
}
@media (max-width:211px){
  #backgroundVideo
  {
    display: none;
  }
  .card
  {
    padding: unset;
   margin: 10px 0 10px 0;
   width: 80px;
   height: 80px;
  }
  .logo,.name
  {
    width:100%;
  }
  .name
  {
    display: none;
  }
  #cards
  {
    left:calc(50% - 40px);
    width: 80px;
  }
}
@media (min-width:450px)
{
  #cards
  {
    left:calc(50% - 225px);
    width: 450px;
  }
    .logo
  {
    margin-left: 65px;
    margin-left: 0px;
    background-size: 100%;
  }
  .name
  {
    font-size: 26px;
    text-indent: 10px;
  }

}
@media (min-aspect-ratio:1/1)
{
    #backgroundVideo
  {
    transform: scale(400%);
  }
}
@media (prefers-color-scheme: dark) {
  .card
  {
  }
  .card:hover,.card:active
  {
  }
}