@media (prefers-color-scheme: dark) {

	:root{
	--backgroundClr: #050C0E;
	--topClr:#FAF3F1;
  --top2Clr:#FAF3F130;

	--iconHamb:url('../icons/hamb.svg');
	--iconBack:url('../icons/back.svg');
	--iconCross:url('../icons/cross.svg');
	--iconPrevious:url('../icons/previous.svg');
	--iconNext:url('../icons/next.svg');
	--iconReload:url('../icons/reload.svg');
	--iconSource:url('../icons/source.svg');
	--iconMute:url('../icons/mute.svg');
	--iconSound:url('../icons/sound.svg');
	--iconIg:url('../icons/ing.svg');
	--iconTk:url('../icons/tiktok.svg');
		
	--FIbackgroundClr: #AD4045;
	--OBbackgroundClr: #6B3333;
	--CTbackgroundClr: #754B2F;
	--PHbackgroundClr: #283832;
	--WDbackgroundClr: #261d23;
	--MUbackgroundClr: #1F323E;
	--ABbackgroundClr: #2D2428;
	--GDbackgroundClr: #222433;
		
	--OBbackgroundClr: #151515;
	--CTbackgroundClr: #151515;
	--PHbackgroundClr: #151515;
	--WDbackgroundClr: #151515;
	--MUbackgroundClr: #151515;
	--ABbackgroundClr: #151515;
	--GDbackgroundClr: #151515;	
		
	--MAIbackgroundClr: #48313D;
	--INSbackgroundClr: #34292B;
	--MESbackgroundClr: #38313D;
	--TELbackgroundClr: #272B2E;
	--WHAbackgroundClr: #202A21;
	
}

}
/*
	:root{
	--backgroundClr: #101010;
	--topClr:#FAF3F1;
  --top2Clr:#FAF3F130;

	--OBbackgroundClr: #101010;
	--CTbackgroundClr: #101010;
	--PHbackgroundClr: #101010;
	--WDbackgroundClr: #101010;
	--MUbackgroundClr: #101010;
	--ABbackgroundClr: #101010;
	--GDbackgroundClr: #101010;
	
}*/

/*
.page
{
	margin:20px;
	width: calc(88vw - 40px);
}
*/

.pic
{
	display:flex;
	margin: 1px !important;
	outline: 0px solid white !important;
}
	.post.column
{
	padding: .5px;
}




.separator {
	margin-left: 0vw;
	width: calc(100% - 0vw);
	border-bottom: 1px solid var(--top2Clr);
	height: 0;
	opacity: .2;
}
/*
:root
{
	 --shadow-color: 0deg 31% 33%;
  --shadow-elevation-low:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.5),
    2px 2px 3.2px -2.5px hsl(var(--shadow-color) / 0.5);
  --shadow-elevation-medium:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.7),
    9.9px 10px 15.8px -2.5px hsl(var(--shadow-color) / 0.7);
  --shadow-elevation-high:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.87),
    11.1px 11.1px 17.7px -1.2px hsl(var(--shadow-color) / 0.87),
    48.9px 49px 77.9px -2.5px hsl(var(--shadow-color) / 0.87);
}
.pic
{
	box-shadow: var(--shadow-elevation-medium);
	border-radius: 4px;
	outline: unset !important;
}
.pic:hover
{
	box-shadow: var(--shadow-elevation-low);
	opacity:unset;
}
#menu
{
	box-shadow: var(--shadow-elevation-high);
	
}

/*
:root
{
	--borderImg:url('../icons/border.png');
	--ng:url('../icons/ng.png');

}
	.btn::before
{
	content:'';
	top:0%;
	left:0%;
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--ng);
	opacity: 1.5;
	z-index: -1;
}
.navigation.lol
{
    padding-top: calc((50% / 7) - 10px);
    padding-bottom: calc((50% / 7) - 10px);
    padding:unset;
	height: calc((100% / 7) - 1px);
	font-size: 40px;
	text-indent: 2vw;
	line-height: calc((100vh / 7) - 20px);
}

.btn
{
	border-width: 10px;
	border-style: solid;

  border-image: var(--borderImg) 50% round;
	border-color:transparent !important;
	border-image-outset: 1px;
	border-radius: 0px !important;
	transition-duration: var(--transitionTer);
	transition-property:all;
}