@media (prefers-color-scheme: dark) {

	:root{
	--backgroundClr: #171912;
	--topClr:#FAF3F1;
  --top2Clr:#FAF3F130;

	--iconHamb:url('../icons/hamb.svg');
	--iconBack:url('../icons/back.svg');
	--iconCross:url('../icons/cross.svg');
	--iconPrevious:url('../icons/previous.svg');
	--iconNext:url('../icons/next.svg');
	--iconReload:url('../icons/reload.svg');
	--iconSource:url('../icons/source.svg');
	--iconMute:url('../icons/mute.svg');
	--iconSound:url('../icons/sound.svg');
	--iconIg:url('../icons/ing.svg');
	--iconTk:url('../icons/tiktok.svg');
		
	--OBbackgroundClr: #241B1B;
	--CTbackgroundClr: #35332D;
	--PHbackgroundClr: #222821;
	--WDbackgroundClr: #261d23;
	--MUbackgroundClr: #1F323E;
	--ABbackgroundClr: #2D2428;
	--GDbackgroundClr: #222433;
		
	--MAIbackgroundClr: #48313D;
	--INSbackgroundClr: #34292B;
	--MESbackgroundClr: #38313D;
	--TELbackgroundClr: #272B2E;
	--WHAbackgroundClr: #202A21;
	
}

}

	.themed
	{
		/*background-color:var(--backgroundClr) !important; */
	}
/*
:root
{
	--borderImg:url('../icons/border.png');
	--ng:url('../icons/ng.png');

}
	.btn::before
{
	content:'';
	top:0%;
	left:0%;
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--ng);
	opacity: 1.5;
	z-index: -1;
}
.navigation.lol
{
    padding-top: calc((50% / 7) - 10px);
    padding-bottom: calc((50% / 7) - 10px);
    padding:unset;
	height: calc((100% / 7) - 1px);
	font-size: 40px;
	text-indent: 2vw;
	line-height: calc((100vh / 7) - 20px);
}

.btn
{
	border-width: 10px;
	border-style: solid;

  border-image: var(--borderImg) 50% round;
	border-color:transparent !important;
	border-image-outset: 1px;
	border-radius: 0px !important;
	transition-duration: var(--transitionTer);
	transition-property:all;
}