@media (prefers-color-scheme: dark) {

	:root{
	--backgroundClr: #171912;
	--topClr:#FAF3F1;
  --top2Clr:#FAF3F130;

	--iconHamb:url('../icons/hamb.svg');
	--iconCross:url('../icons/cross.svg');
	--iconPrevious:url('../icons/previous.svg');
	--iconNext:url('../icons/next.svg');
	--iconReload:url('../icons/reload.svg');
	--iconSource:url('../icons/source.svg');
	--iconMute:url('../icons/mute.svg');
	--iconSound:url('../icons/sound.svg');
	--iconIg:url('../icons/ing.svg');
	--iconTk:url('../icons/tiktok.svg');
		
	--OBbackgroundClr: #201e1e;
	--OBtopClr:#151515;
	--OBtop2Clr:#15151550;
	
	--CTbackgroundClr: #1E1F20;
	--CTtopClr:#151515;
	--CTtop2Clr:#15151550;
	
	--PHbackgroundClr: #1E201E;
	--PHtopClr:#2f2f2f;
	--PHtop2Clr:#2f2f2f17;
	
	--WDbackgroundClr: #1E1C1D;
 }