@media (min-width: 700px){
	/*
	#int
	{
		left: calc(10% + 4px);
		width: calc(80% - 8px);
	}
	#intHey
	{
		width:50%;		
	}
  #intAbt
	{
		width:40%;		
		padding:5%;
		font-size: 150%;
		text-align: left;
	}
	#intHey,#intAbt
	{
		position: relative;
		float:left;
	}
	*/
	.textBlock
	{
		left: calc(10% + 4px);
		width: calc(100% - 8px);
	}
  #barInfo
	{
		bottom:0% !important;
	}
	#navigationBar
	{
		width: calc(80% - 8px);
		left:calc(10% + 4px);
	}
	#img00{
		background-size:contain;
	}
	.modalButton{
		height: 5vw;
		width: 5vw;
		bottom:3vw;
	}
  .rowButtons:hover:not(.btnOn),.infoTitle:hover
	{
		filter:invert(15%);
	}
	#exit{
		left:calc(50% - 2.5%);
	}
	#previous{	
		left:calc(45% - 2.5% - 10px);
	}
	#next{
		left:calc(55% - 2.5% + 10px);
	}
	#mute{
		left:calc(60% - 2.5% + 20px);
	}
	#source{
		left:calc(60% - 2.5% + 20px);
	}
	#reload{
		left:calc(40% - 2.5% - 20px);
	}
	
	.row{
		width:100% ;
	}
	.column{
		idth: 10%;
	}
	.tabContent{
		
		width: 80%;
		left:10%;
		height: auto;
	}
	#vid00{
	height: 100%;
	width: 100%;
	background-size:100%;
	z-index:2;
	animation: appear .3s ;
	}
}
@media (min-aspect-ratio:16/9){
	/*.tabContent{
		width: 60%;
		left:20%;
		height: auto;
	}*/
	.tabContent{
		width: 60%;
		left:20%;
		height: auto;
	}
		#navigationBar
	{
		width: calc(60% - 8px);
		left:calc(20% + 4px);
	}


}



