@media (min-width: 700px){
	/*
	#int
	{
		left: calc(10% + 4px);
		width: calc(80% - 8px);
	}
	#intHey
	{
		width:50%;		
	}
  #intAbt
	{
		width:40%;		
		padding:5%;
		font-size: 150%;
		text-align: left;
	}
	#intHey,#intAbt
	{
		position: relative;
		float:left;
	}
	*/
	.textBlock
	{
		left: calc(10% + 4px);
		width: calc(100% - 8px);
	}
  #barInfo
	{
		bottom:0% !important;
	}
	#navigationBar
	{
		width: calc(80% - 8px);
		left:calc(10% + 4px);
	}
	#img00{
		background-size:contain;
	}
	.modalButton{
		height: 5vw;
		height: 70px;
		width: 5vw;
		width: 70px;
		bottom:35px;
	}
  .rowButtons:hover:not(.btnOn),.infoTitle:hover
	{
		filter:invert(15%);
	}
	#exit{
		margin-left:-35px;
		left:50%;
	}
	#previous{	
		margin-left:-125px;
		left:calc(50%);
	}
	#next{
		left:unset;
		margin-right:-125px;
		right:calc(50%);
	}
	#mute{
		left:calc(60% - 2.5% + 20px);
	}
	#source{
		left:calc(60% - 2.5% + 20px);
	}
	#reload{
		left:calc(40% - 2.5% - 20px);
	}
	
	.row{
		width:100% ;
	}
	.column{
		idth: 10%;
	}
	.tabContent{
		
		width: 80%;
		left:10%;
		height: auto;
	}
	#vid00{
	height: 100%;
	width: 100%;
	background-size:100%;
	z-index:2;
	animation: appear .3s ;
	}
}
@media (min-aspect-ratio:16/9){
	/*.tabContent{
		width: 60%;
		left:20%;
		height: auto;
	}*/
	.tabContent{
		width: 60%;
		left:20%;
		height: auto;
	}
		#navigationBar
	{
		width: calc(60% - 8px);
		left:calc(20% + 4px);
	}
}
@media (min-aspect-ratio:1/1){
    #img00 {
		top:10%;
    height: 80%;
  }
		/*
		
		position: relative;
		float: left;
	  width: 5%;
		height:5%;
		bottom:unset;
		left:unset !important;
	}
  #modalButtons
	{
		position: absolute;
		bottom: 50px;
		height:25%;
		width: 25%;
		left:calc(50% - 12.5%)
	}
}


