
#navigationBar
{
	bottom:-15%;
}
#barMenu
{
	bottom:0%;
}
#barInfo
{
	bottom:calc(100%/3);
}


.tabContent
{
	display: none;
}
@media (prefers-color-scheme: dark) {
	:root{
		--aColor: #101010;
		--bColor: #eeeeee;
	}
  #previous,#exit,#next,#mute,#reload,#source
	{
		background-color:var(--aColor);
		filter:invert(0%);
	}
  .rowButtons:hover:not(.btnOn)
	{
		filter:invert(10%);
	}
	#tst:hover
	{
		filter:invert(90%);
	}
  #cLogo
	{
		filter:invert(6.4%);
	}
	#curtains
	{
		background-color:var(--aColor);
	}
	.post{
		background:#202020;
		animation: none 1s;
	}
	#tst
	{
		filter:invert(99.6%);

	}
	/*#int,button,.rowButtons
	{
		background: var(--aColor);
		box-shadow: 0px 0px 0px 1px white inset;
	}	
 #intAbt
	{
		color:var(--bColor);
	}*/
}
@media (prefers-color-scheme: dark) and (max-width: 700px) {
  #tst:hover
	{
		filter:invert(99.6%) !important;
	}
}

/*debug*/
/**
button
{
	color:black !important;
}
#navigationBar
{
	background-color:green;
	box-shadow: 0px 0px 0px 1px red inset;
}
#barMenu
{
	background-color:orange;
	box-shadow: 0px 0px 0px 1px blue inset;
}
#barInfo
{
	background-color:blue;
	box-shadow: 0px 0px 0px 1px orange inset;
}
#menuLeft
{
	background-color:cyan;
	box-shadow: 0px 0px 0px 1px yellow inset;
}
#menuRight
{
	background-color:yellow;
	box-shadow: 0px 0px 0px 1px cyan inset;
}
.menuRows
{
	background-color:chartreuse;
	box-shadow: 0px 0px 0px 1px crimson inset;
}
.rowButtons.left
{
	background-color:steelblue;
	box-shadow: 0px 0px 0px 1px darkgreen inset;
}
.rowButtons.right
{
	background-color:darkgreen;
	box-shadow: 0px 0px 0px 1px steelblue inset;
}
.infoTitle
{
	background-color:khaki;
	box-shadow: 0px 0px 0px 1px darkred inset;
}
.infoDescription
{
	background-color:darkred;
	box-shadow: 0px 0px 0px 1px khaki inset;
}

