@media (max-width:400px){
  .navigation.block,.social.name.mail
  {
    font-size: 7vw;
  }
    #intro:after
  {
    font-size: 10vw;
  }#introVideo,#introPic
  {
    width: 100vw;
    height: auto;
    left:0;
  }
}
@media (max-width:700px){
 .main
  {
    display: none !important;
  }
  .btn
  {
  }
  .btn:active
  {
    background-color:var(--backgroundClr) !important;;
    filter: invert(100%);
    outline-offset: 0px;
	  filter:unset;
  }
  .on
  {
    animation: onAlt var(--speed0) 1 !important;
  }
  @keyframes onAlt
  {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  .navigation.block:active
  {
    letter-spacing: 3px;
    transition: letter-spacing var(--speed1) !important;
  }

  #hamburger:active:after
  {
    background-position: center calc(8vh - 54px);
    background-position: center calc(8vh - 70px);
  }
  #hamburger:active,#closeMenu:active
  {
    /*height: 16vh;*/
    /*background-position: center calc(8vh - 45px);*/
    background-position: center calc(8vh - 61px);
	  filter:unset;
  }
  #hamburger.alt:active:after
  {
    background-position: center calc(8vh - 70px);
  }
  #hamburger.alt:active
  {
    /*height: 16vh;*/
    background-position: center calc(8vh - 61px);
  }
  #back:active:after
  {
    background-position: calc(25vw - 55px) center;
    opacity: 1;
  }
  #back:active
  {
	  filter:unset;
    /*height: 16vh;*/
    background-position: calc(25vw - 40px) center;
  }
  .post.pic:active,.cover:active
  {
    filter:unset;
    outline-offset: 7px;
    outline-offset: unset;
    outline: 10px solid var(--topClr);
    transform: scale(.96,.96);
  }
  .cover:active
  {
    background-color:var(--topClr) !important;
    color:var(--backgroundClr) !important;
  }
  .btn
  ,#hamburger:active
  ,#hamburger:active::after
  ,#hamburger.alt:active::after
  ,#back:active
  ,#back:active::after
  ,.navigation.block:active
  {
  }
  #hamburger.first
  {
    background-position: center !important;
    height: 100vh !important;
  }

  #hamburger.first:after
  {
    margin:unset !important;;
    text-indent: unset;
    line-height:calc(100vh - 60px) !important;
    background-position: center !important;
  }


  #menu.first
  {
    height: 100vh;
  }
  .cover.ph
  {
    float: left;
    outline:1px solid  var(--top2Clr);
    width: calc(50vw - 2px);
    height: calc(50vh - 0px);
    margin:none;
    outline:none;
    background-color:var(--backgroundClr);
    margin:0 0 0 0;
  }
  .copyright
  {
    display:block;
  }
  #copyright
  {
    display:none;
  }
}
@media (min-width: 700px){
  
  .copyright
  {
    display:none;
  }
  #copyright
  {
    display:block;
  }
    .btn
  {
    transition: unset !important;
  }
  .btn:hover
  {
    background-color:var(--hoverClr) !important;
    filter: invert(100%);
    outline-offset:unset;
    outline-offset: 0px;
  }
  .btn:hover
  {
    background-color:var(--backgroundClr) !important;
    filter: invert(100%);
    outline-offset:unset;
    outline-offset: 0px;
  }
  .navigation.block
  {
    transition: all var(--speed1);
  }
  .navigation.block:hover
  {
    text-indent:3vw;
  }
  .navigation.row:hover
  {
    transition: padding var(--speed1) !important;
    padding-right: 0px ;
  }
  #hamburger
  {
    height: 100vh;
    width: 10vw;
    left:0;
    top:0;
  }
  #hamburger:after
	{
		transition: all var(--speed1) !important;
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		content: '';
		position: absolute;
		background: var(--iconHamb) no-repeat;
		background-position: center;
	}
  #hamburger.first
  {
    background-position: center center !important;
    width: 100vw;


  }
  #hamburger.first::after
  {
    top:calc(50vh - 100px);
    width: 100vw;
    font-size: 30px;
    text-indent: unset;
  }
  #hamburger.first:hover
  {
    width: 100vw;
    filter:unset;
		background-position: center calc(50vh - 54px);
  }
  #hamburger:hover:after
	{
		background-position: center calc(50vh - 54px);
  }
  #hamburger:hover
	{
		width: 12vw;
		background-position: center calc(50vh - 45px);
  }
	#hamburger.active
	{
		/*
    width: 100vw;
    opacity: .2;
    transition: none !important;
	 */
  }
  #hamburger.alt
  {
    width: 10vw;
    height: 50vh;
  }
  #hamburger.alt:after
	{
		height: 100%;
	}
  #hamburger.alt:hover:after
	{
		background-position: center calc(25vh - 54px);
  }
  #hamburger.alt:hover
	{
		width: 12vw;
		background-position: center calc(25vh - 45px);
  }
  #back
  {
    width: 0vw;
    height: 50vh;
		transition: all var(--speed1) !important;
  }
   #back.alt
  {
    width: 10vw;
    height: 50vh;
    height: calc(100vh - var(--navHeight));
    top:unset;
    bottom:0vh;
    left:0;
  }

  #back:hover:after
	{
		background-position: calc(5vw - 55px) center;
    opacity: 1;
  }
  #back:hover
	{
		width: 12vw;
		background-position: calc(5vw - 40px) center;
  }
  #back:not(.alt):hover
    {
      width: 0vw;
      background-position: calc(5vw - 40px) center;
    }

  .page
  {
    width: 88vw;
    left:10vw;
    padding:unset;
  }
  .page.on
  {
    animation: onAlt var(--speed0) 1 !important;
  }
  @keyframes onAlt
  {
    0%{margin-left:-10px;}
    100%{margin-left:0px;}
  }
  #source{
	padding-top:calc(6vh - 22.5px);
	height: calc(100% - (6vh - 22.5px));
	font-size: 35px;
}
 .modal-content
  {
    background-size: auto 75vh !important;
  }
  .modalButton
  {
    transition: all var(--speed1) !important;

  }
  .modalButton:hover
  {
  }
  #previous:hover,#next:hover,#exit:hover
	{
		background-position: calc(50% + 5px) center;
    box-shadow: 0 0 0 30px var(--backgroundClr);
  }
  #previous:hover::after,#next:hover::after,#exit:hover::after
	{
		background-position: calc(50% - 5px) center;
    opacity: 1;
  }
  #vid00
  {
    top:12vh;
    height: 78vh;
  }
  .post.row
  {
   	/*! margin-top:var(--navHeight); */
  } 
   .cover.ph:hover
  {
    background-color:var(--topClr) !important;
    color:var(--backgroundClr) !important;
  }
  .coverpicture:hover
  {
    background-position-x: calc(50% + 5px);
  }
  .cover.ph:hover
  {
    transform: none !important;
    box-shadow: none;
  }
  .post.pic,.cover
  {
    transition: all var(--speed2) !important;
  }
  .post.pic:hover,.cover:hover
  {
    filter:unset;
    box-shadow:0 0 0 14px var(--topClr);
    transform: scale(104%) !important;
    opacity: 100% !important;
    outline: 14px solid var(--hoverClr) !important;
    background-color:var(--hoverClr) !important;
    color:black !important;
    box-shadow: 0px 0px 10px 10px black;
    box-shadow: 0px 0px 0px 15px var(--top2Clr);
  }
  .cover:hover
  {
    background-color:var(--white) !important;
    outline: 14px solid var(--white) !important;
  }
  .post.column
  {
  	max-width: calc(25% - 2px);
}

  .post.column:hover
  {
    z-index: 100;
  }
  .post.column.large
  {
    max-width: 50%;
    flex: calc(50% - 10px);
  }
  .row.folders
  {
    width:100%;
  }
  .column.folders
  {
    max-width:50% !important;
  }
  .textBlock
  {
    left:10px;
    width: calc(90vw - 10px * 2);
    font-size: 30px;
  }



  @keyframes on
  {
    0%{opacity:0 !important;margin-left:-10px !important;}
    100%{opacity:1 !important;margin-left:0 !important};
  }
	#hamburger
	{
		transition: all var(--speed1) !important;
	}
  .social.copied
  {
    filter:unset !important;
  }
  .social.block
  {
    height: calc(100vh / 3);

    width: 50%;
  }
  #closeMenu
  {
    	transition: all var(--speed1) !important;
  }
  #closeMenu:hover
	{
		background-position:center calc(50% + 5px) ;
  }
  #closeMenu:hover::after
	{
		background-position:center calc(50% - 5px) ;
  }





  #hamburger,#menu,#menuSecretExit
  {
    display: none !important;
  }
  .page
  {
    padding-top:var(--navHeight);
    position: absolute;
    top:calc(80px + 0px);
    top:0;
    width: calc(100% - 0px);
    height: calc(100vh - 40px);
    left:0px;
    overflow-y:scroll;
    overflow-x: hidden;
    
    
    }
  .folder.ph
  {
    width: calc(100% - 80px - 5vw);
    margin-left:0vw;
    transition: all var(--speed0) !important;
  } 
  .folder.ph.on
  {
    width: calc(100% + var(--margin1) - 10vw);
    margin-left:calc(10vw - var(--margin1));
  }
  /*
  .page
  {
    top:calc(80px + 0px);
    width: calc(100% - 0px);
    height: calc(100vh - 80px);
    left:0px;
  }
  */
  #nav
  {
    display: block;
    position: absolute;
    top:0;
    left:0;
    height: 80px;
    width: 100%;
    float: left;
    outline:1px solid var(--top2Clr);
    z-index: 105;
  }
  .nav.tabs
  {
    height: 100%;
    width: calc(100% / 7);
    float:left;
    font-size: 20px;
    font-size: 15px;
    text-align: center;
    border:unset;
    font-family: inherit;
    font-weight: inherit;
    font-weight: 300;
    background-color:var(--backgroundClr);
    background-color:#15151520;
    text-transform: uppercase;
    color:var(--fontFaded);
    transition: box-shadow .08s !important;
    z-index: 3;
  }
  .nav.tabs:hover
  {
    background-position: calc(50% + 5px) center;
    box-shadow: 0 -15px 0 15px var(--backgroundClr);
    box-shadow: 0 -30px 0 30px var(--backgroundClr);
    color:var(--backgroundColor);
    z-index: 4;
  }
  .nav.tabs.on
  {
    /*
    background-color:var(--topClr);
    color:var(--backgroundClr);
    */

    /*
    background: url('../icons/ng.png');
    background: url('../icons/ngLight.png');
    border: 10px solid white;
    border-image: url('../icons/border.png') 50%;
    border-image: url('../icons/borderLight.png') 50%;
    border-spacing: 10px;
    */
    border-bottom: 1px solid var(--fontFaded);
    color:var(--backgroundColor);
  }
  .nav.tabs.on:hover
  {
    border:none;
    color:inherit;
  }
  .nav.row
  {
    height: 100%;
    width: calc(100% / 7);
    float:left;
  }
  .nav.block
  {
    line-height: 80px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .nav.block.on
  {
    animation: unset !important;
    background-color:var(--topClr);
    color:var(--backgroundClr);
  }
  .nav.block.on:hover
  {
    filter:invert(100%);
  }
 #navLogo
  {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    filter:invert(100%);
    width: 80px;
    background:var(--backgroundClr);
    z-index: 5;
    cursor:pointer;
  }
  #navLogoPIC
  {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: var(--icon4DNav);
  }
  #navTabs
  {
    background-color:var(--navColor);
    position: absolute;
    top:0;
    left:80px;
    height: 100%;
    width: calc(100% - 80px);
    backdrop-filter: blur(25px) saturate(150%);
  }
  .cover.ph {
  height: calc(100vh - 160px);
  margin: none;
  outline: none;
  background-color: var(--backgroundClr);
  margin: -.5px 0 0 0;
}
  .cover.ph:hover
  {
    outline: unset !important;
  }
  .post.pic:hover
  {
    outline:1px solid var(--topClr) !important;
    outline:1px solid var(--topClr) !important;
    box-shadow: unset;
    box-shadow: 0 0px 0 30px var(--backgroundClr);
    box-shadow: 0 0 25px 10px #00000065;
    transform: scale(0.999) !important;
    transform: scale(1.021) !important;
    border-radius:2px; 
    filter:saturate(120%) brightness(110%);
  }
  .social.block.mail
  {
    width: auto;
    padding:0 30px 0 30px;
  }
  .social.name.mail
  {
   color:var(--backgroundClr);
   line-height: 0 !important;
   padding-top:40px;
    font-weight: 300;
  }
  .social.name.mail:after
  {
    content: none;
  }
  .social.block
  {
    background:var(--topClr);
    background:var(--topClr);
    width: 80px;
    height: 80px;
    outline: 1px solid var(--backgroundClr);
  }
  .social.logo
  {
    height: 100%;
    background-size: 35px !important;
  }
  .social.block:hover
  {
    background:var(--backgroundColor) !important;
    outline: none;
  }
  .social.logo:after
  {
    content: unset !important;
  }
  .title
  {
    padding: 0px;
  }
  .introPIC,.introText
  {
    height: 300px;
    padding:20px;
    width: calc(50% - 40px);
  }
 .introPIC
  {
    width: calc(50% - 40px);

  }
  .introText
  {
    float:left;
    max-width: 300px;
  }
}
@media (max-width:1040px){
  .post.desc
  {
    font-size: 20px;
  }
  .nav.block
  {
    font-size: 14px;
  }
}
@media (min-width: 1100px){

  .post.column.large
  {
    flex:33%;
    max-width: calc((100% / 3) - 0px);
  }
  .navigation.row
  {
    /*outline:1px solid #FFFFFF10;*/
  }
  .navigation.block {
   text-align: left;
    text-indent: 2vw;
  }
  .separator {
    margin-left: 2vw;
    width: calc(100% - 4vw);
    border-bottom: 1px solid var(--top2Clr);
    height: 0;
  }

    .btn
  {
  }
  #menu,#closeMenu
  {
		width:50vw;
  }
  #menuSecretExit
  {
    height: 100vh;
    width: 0vw;
    right:0;
    position: fixed;
    background-color:#000000;
    opacity:0% !important;
    z-index: 99;

  }
  #menu.first,#closeMenu.first
  {
    width: 100vw !important;
    text-align:center;

  }
  .navigation.block
  {
    text-align: inherit;
  }
  #menuSecretExit.on
  {
    opacity:80% !important;
    width: 100vw;
    transition: opacity .2s !important;;
  }
  	#menu
	{
		display:block !important;
		left:-50vw;
		opacity:0;
	  outline:100vw solid rgba(0,0,0,.85);
	  outline:none;
	  /*box-shadow: 0px 0px 60px black;*/
		transition: opacity var(--speed1);
		height: 88vh;
    z-index: -1;
	}
  #menu.on
	{
		left:10vw;
		margin-left:0px;
		opacity: 1 !important;
		animation: menuon var(--speed1) 1 !important;
    z-index: 100;
	}
	@keyframes menuon
  {
    0%{left:0px;;margin-left:-0vw;}
    100%{left:0px;margin-left:10vw;}
  }
  .navigation.row
  {
    height: calc((100% / 7) - 1px);
  }

  #menu
  {
    height: 100vh;
  }
  #menu.first
  {
    left:0;
  }
  #closeMenu:not(.first)
  {
		width:10vw;
    height: 100vh;
    left:0vw;
  }
  .navigation.block
  {
    line-height: calc((100vh / 7) - 15px);
  }



  #menu
  {
    display: none !important;
  }
  .introPIC
  {
    width: calc(100% - 380px);
  }
  .introPics
  {
    width: 200px;
    height: 200px;
  }
}
body
{
  font-family: 'Work Sans';
  font-weight: 200;
}
