@media (max-width: 700px){
	#int{
		left:0%;
		top:0%;
		margin: 4%;
		width:92%;
	}
	#intHey{
		position: relative;
		height:auto;
	}
	#barMenu,#barInfo
	{
		width: 100%;
	}
	#barInfo
	{
		bottom:100%;
	}
	.tabContent{
		left:0%;
		width: 100%;
	}
	.menu.image{
		box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
	}
	.menuRow{
		height:20%;
	}
	#toggl{
		top:-200%;
	}
	#First{
		ackground-color:blue;
	}
	#Second{
		ackground-color:yellow;
	}
	#Third{
		ackground-color:Orange;
	}
	#videoWrapper
	{
	 display:none;
	 position:absolute;
	 top:0;
	 left:0;
	 height: 500px;
	 width: 100%;
	 overflow: hidden;
	 z-index: 2;
	}	
  .rowButtons:hover:not(.btnOn),.infoTitle:hover
	{
		filter:none !important;
	}

	#exit:active,#previous:active,#next:active{
	 filter:invert(0);
	 transition:filter .2s;
	}
	.modalButton{
		height: 16vw;
		width: 16vw;
		bottom:50px;
	}
	#exit{
		left:calc(50% - 8vw);
		background-image:url('../icons/cross.svg');
	}
	#previous{
		left:calc(35% - 8vw - 10px);
		background-image:url('../icons/previous.svg');
	}
	#next{
		left:calc(65% - 8vw + 10px);
		background-image:url('../icons/next.svg');
	}
	#mute{
		left:calc(80% - 8vw + 20px);
		background-image:url('../icons/sound.svg');
	}
	#reload{
		left:calc(20% - 8vw - 20px);
		background-image:url('../icons/reload.svg');
	}
	#source{
		left:calc(80% - 8vw + 20px);
		background-image:url('../icons/source.svg');
	}
	#vid00{
	 height: 100%;
	 width: 100%;
	 background-size:100%;
	 z-index:2;
	 animation: appear .3s ;
	}
	#menuDesc{
		display: none;
  }
	#sideRow{
	top:20%;
	right:0%;
	width:25%;
		height:60%;
  }
	.buttonInfo
	{
		display: none !important;
	}
	/*
	.modalButton:hover,.rowButtons:hover,.infoTitle:hover,.post:hover
	{
		filter:none !important;
	}*/

}