#navOverflow, #navigationBar
{
	transition: height .3s, bottom .3s;
}
#barInfo
{
	transition: height .3s, bottom .4s;
}
#navOverflow
{
	position: fixed;
	width: 96%;
	height: 50%;
	height: 13%;
	left: 0px;
	bottom:0%;
	margin:2%;
	overflow: hidden;
	z-index: 100;
	border-radius: 10px;
	box-shadow: 0px 10px 40px black;
}
#navigationBar
{
	position: absolute;
	width: 100%;
	height: 40%;
	height: 153%;
	left: 0px;
	bottom:-27%;
	bottom:-103%;
}
#barMenu
{
	background:linear-gradient(-45deg,#f3f5f8,#f3f5f8);
	bottom:0%;
}
#barInfo
{
	background:linear-gradient(-45deg,#151A2C,#1B1B1B);
	bottom:calc(100%/3);
}
.rowButtons,.infoTitle,.infoDescription
{
	background:none;
	filter:none;
}
#tst
{
	background:transparent url('../icons/up.svg') center;	
}
.rowButtons.btnOn{
	background:linear-gradient(-45deg,#151A2C,#1B1B1B);
	color:var(--bColor);
	filter:none;
}
.rowButtons.btnOn::after{
	content:none;
  position: absolute;
	bottom:15%;
	left:45%;
	height: 1px;
	width: 10%;
	background: white;
	border-radius: 99px;
}
#navigationBar.nvBOn
{
	height: 50%;
	bottom:0%;
}
#barInfo.bNfOn
{
	bottom:100%;
}
#navOverflow.nvOfOn
{
	height: 40%;	
}