:root{
	--backgroundClr: #FAF3F1;
  --topClr:#111;
  --top2Clr:#11111147;
	--speed1: .18s;
	--speed2: .06s;
	/*
	--OBbackgroundClr: #E66E6E;
	
	--CTbackgroundClr: #E8BB66;
	
	--PHbackgroundClr: #80EC6F;
	
	--WDbackgroundClr: #EA73BB;
	
	--MUbackgroundClr: #74BBE6;
		
	--GIbackgroundClr: #E8D178;
	
	--ABbackgroundClr: #F2F4F0;
	*/
		--OBbackgroundClr: #E66E6E;
	
	--CTbackgroundClr: #E8BB66;
	
	--PHbackgroundClr: #80EC6F;
	
	--WDbackgroundClr: #EA73BB;
	
	--MUbackgroundClr: #74BBE6;
		
	--GIbackgroundClr: #E8D178;
	
	--ABbackgroundClr: #F2F4F0;
	--iconHamb:url('../icons/hambLight.svg');
	--iconBack:url('../icons/backLight.svg');
	--iconCross:url('../icons/crossLight.svg');
	--iconPrevious:url('../icons/previousLight.svg');
	--iconNext:url('../icons/nextLight.svg');
	--iconReload:url('../icons/reloadLight.svg');
	--iconSource:url('../icons/sourceLight.svg');
	--iconMute:url('../icons/muteLight.svg');
	--iconSound:url('../icons/soundLight.svg');
}
audio
{
	position: relative;
	left:10%;
	width: 80%;
	margin-bottom:6%;
}
html
{
	scroll-behavior: smooth;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
body
{
	position:absolute;
	top:0;
	left:0;
  margin:0;
	width: 100%;
  font-family: 'Yeseva One', sans-serif;
  background: var(--backgroundClr);
	color: var(--topClr);
}
.on
{
  animation:on var(--speed1) 1 !important;
	display: block !important;
	opacity:1 !important;
 }
@keyframes o
{
	0%{opacity:0;margin-top:5px;};
	100%{opacity:1;margin-top:0%};
}
@keyframes on
{
	0%{opacity:0;margin-left:-20px !important;};
	100%{opacity:1;margin-left: 0px !important;};
}
.btn
{
	cursor: pointer;
	transition: all var(--speed1);
	/*outline: 1px solid black;*/
}

.page
{
	position: absolute;
	display: none;
	padding-bottom:12vh;
}

/* STYLES */
/* STYLES */
/* STYLES */
#hamburger,#menu,.page,.modalButton,#closeMenu
{
  /*! transition: background-color .5s !important; */
}
/*body.oddbeep,#hamburger.oddbeep,#menu.oddbeep,.page.oddbeep,.modalButton.oddbeep,#closeMenu.oddbeep*/
.oddbeep
{
  background-color: var(--OBbackgroundClr) !important;
	/*outline: 1px solid var(--OBtop2Clr);
	color:var(--OBtopClr);*/
}

.crustiestthoughts
{
  background-color: var(--CTbackgroundClr) !important;
	/*outline: 1px solid var(--CTtop2Clr);
	color:var(--CTtopClr);*/
}

.photography
{
  background-color: var(--PHbackgroundClr) !important;
	/*outline: 1px solid var(--PHtop2Clr);
	color:var(--PHtopClr);*/
}
.webdesign
{
  background-color: var(--WDbackgroundClr) !important;
	/*outline: 1px solid var(--WDtop2Clr);
	color:var(--WDtopClr);*/
}
.music
{
  background-color: var(--MUbackgroundClr) !important;
}
.gif
{
  background-color: var(--GIbackgroundClr) !important;
}
.about
{
  background-color: var(--ABbackgroundClr) !important;
}

/* MENU */
/* MENU */
/* MENU */



#hamburger
{
	background: var(--iconHamb) var(--backgroundClr) no-repeat;
	width: 100vw;
  right:0;
}
#back
{
	background: var(--iconBack) var(--backgroundClr) no-repeat;
	/*! display: none; */
	width: 0vw;
	left:-1px;
}
  #back:after
	{
		transition: all var(--speed1) !important;
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		content: '';
		position: absolute;
		background: var(--iconPrevious) no-repeat;
		background-position: center;
    opacity: 0;
	}
#hamburger,#back
{
	display: block;
	bottom: 0;
	position: fixed !important;
	background-position: center;
	z-index: 49;
	height: 12vh;
	opacity: 1;
	outline:1px solid var(--top2Clr);
	/*! transition: width .12s !important; */
}
#hamburger:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	content: '';
	position: absolute;
	background: var(--iconHamb) no-repeat;
	background-position: center;
}
#hamburger.alt
{
	width: 50vw;
}

#back.alt
{
	width: 50vw;
	left:0;
}
#menu
{
	position: fixed;
	background:none;
	z-index: 50;
	border-width: unset;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background:var(--backgroundClr);
	display: none;
}
.separator
{
	margin-left: 40%;
	width: 20%;
	border-bottom:1px solid var(--top2Clr);
	height: 0;
}
.navigation.row
{
	height: calc(100% / 8);
	width: 100%;
}
.navigation.block
{
	text-align: center;
	padding:0%;
	font-size: 40px;
	line-height: 11vh;
	letter-spacing: 1px;
}
#closeMenu
{
	bottom: 0;
	position: fixed !important;
	background: var(--iconCross) var(--backgroundClr) no-repeat;
	background-position: center;
	width: 100vw;
	height: 12vh;
	outline:1px solid var(--top2Clr);
}

/* GALLERY */
/* GALLERY */
/* GALLERY */

.post.column
{
	padding:5px;
	padding-top: 0px;
	flex: 41%;
	flex: calc(50% - 10px);
  max-width: 50%;
	float: left;
	float:unset;
	width: 100%;
	height: 45%;
}
.post.column.large
{
  max-width: 100%;
	flex: calc(100% - 10px);
}
.post.row
{
	display: flex;
	height: auto;
  width: calc(100% - (var(--spSize) * 2));
	margin-left:calc(var(--spSize) - 0px);
	flex-wrap: wrap;
}
.post.pic,.picdesc
{
	margin: 2.5px 0 2.5px 0;
	width: 100%;
	cursor: pointer;
	outline:1px solid  var(--top2Clr);
}
.post.wd.container
{
	outline:1px solid  var(--top2Clr);
	margin: 2.5px 0 2.5px 0;
}
.pic.cover
{
	width: 100%;
}
.cover
{
	float: left;
	outline:1px solid  var(--top2Clr);
	width: calc(100% - 5px);
	margin:5px;
}
.coverpicture
{
	width: 100%;
}
.folder
{
	display: none;
	width: 100%;
}
.folders
{
	display: none;
}
/*.post.wd.container:after
{
	content: '';
	position: absolute;
	top:0;
	left:0;
	margin: 2.5px 0 2.5px 0;
	width: 50%;
	height: 100%;
	background: #FF000050;
	
}*/
.post.pic.wd
{
}


.post.desc
{
	padding:5%;
	text-align: center;
	font-size: 15px;
}

.textBlock
{
	position: relative;
	left:10px;
	width: calc(100vw - 10px * 2);
	font-size: 23px;
	-webkit-user-select:text;
  -ms-user-select: text;
  user-select: text;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: text;
	-moz-user-select:text;
}

/* MODAL */
/* MODAL */
/* MODAL */


#modalBlock
{
	position: fixed;
	left:0;
	height:100%;
	width: 100%;
	z-index: 110;
	display: none;
	transition: opacity var(--speed1);
	background-color:rgba(0,0,0,.8);
}
#img00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: none !important;

}
#img00.animated-left
{
	/*
	animation: swipeL .12s 1 !important;
	*/
}
@keyframes swipeL
{
	0% {margin-left: -20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}

#img00.animated-right
{
	/*
	animation: swipeR .12s 1 !important;
	*/
}
@keyframes swipeR
{
	0% {margin-left: 20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}
#vid00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: appear .3s ;
	display:none;
}
.modalButton
{

	position: relative;
  float: left;
	height: 100%;
	width: calc(100% / 3);
	z-index:3;
	background-size:auto;
	background-position: center;
	cursor: pointer;
	transition: filter var(--speed1);
	background-color: var(--backgroundClr);
	background-color: unset;
	background-repeat: no-repeat;
}
#modalBtnsA,#modalBtnsB
{
	position: fixed;
	height: 12vh;
	width: 100vw;
	outline:1px solid var(--top2Clr);
	left:0;
	z-index: 3;
	background-color: var(--backgroundClr);
	overflow: hidden;
	
}
#modalBtnsA
{
	bottom:0;
}
#modalBtnsB
{
	top:0;
}
#mute,#reload,#source{
	display: none;
}
#exit{
	background-image:var(--iconCross);
}

#previous{

	background-image:var(--iconPrevious);
}


#next{
	background-image:var(--iconNext);
}
#mute.mute
{
	background-image:var(--iconMute);
}
#mute.sound
{
	background-image:var(--iconSound);
}


#mute{
	background-image:var(--iconSound);
}
#reload{
	background-image:var(--iconReload);
}
#source{
	/*background-image:var(--iconSource);*/
	width: 100%;
	text-align: center;
	padding-top:calc(6vh - 10px);
	font-size: 20px;
	height: calc(100% - (6vh - 10px));
}

#spFrame-In
{
	position: absolute;
	top:20%;
	left:4%;
	height:60%;
	width:92%;
	border:none;
	display:none;
}





