:root{
	--backgroundClr: #FAF3F1;
  --topClr:#111;
  --top2Clr:#11111147;
  --hoverClr:#FAF3F1;
	--speed0: .32s;
	--speed1: .18s;
	--speed2: .06s;

	--white:#FAF3F1;
	--black:#050C0E;
	
	--FIbackgroundClr: #FD5555;
	--OBbackgroundClr: #E66E6E;
	--CTbackgroundClr: #E8955D;
	--PHbackgroundClr: #80EC6F;
	--WDbackgroundClr: #80A8E6;
	--MUbackgroundClr: #74BBE6;
	--GDbackgroundClr: #7883E6;
	--GIbackgroundClr: #E778CE;
	--ABbackgroundClr: #B678E7;

	--FIbackgroundClr: #FAF3F1;
	--OBbackgroundClr: #FAF3F1;
	--CTbackgroundClr: #FAF3F1;
	--PHbackgroundClr: #FAF3F1;
	--WDbackgroundClr: #FAF3F1;
	--MUbackgroundClr: #FAF3F1;
	--ABbackgroundClr: #FAF3F1;
	--GDbackgroundClr: #FAF3F1;	
	
	--MAIbackgroundClr: #F298A8;
	--INSbackgroundClr: #EAB8BE;
	--MESbackgroundClr: #D6BAE8;
	--TELbackgroundClr: #B5D6E6;
	--WHAbackgroundClr: #97D69F;
	
	
	--iconHamb:url('../icons/hambLight.svg');
	--iconBack:url('../icons/backLight.svg');
	--iconCross:url('../icons/crossLight.svg');
	--iconPrevious:url('../icons/previousLight.svg');
	--iconNext:url('../icons/nextLight.svg');
	--iconReload:url('../icons/reloadLight.svg');
	--iconSource:url('../icons/sourceLight.svg');
	--iconMute:url('../icons/muteLight.svg');
	--iconSound:url('../icons/soundLight.svg');
}
audio
{
	position: relative;
	left:10%;
	width: 80%;
	margin-bottom:6%;
}
html
{
	scroll-behavior: smooth;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
body
{
	position:absolute;
	top:0;
	left:0;
  margin:0;
	width: 100%;
  font-family: 'Yeseva One', sans-serif;
  background: var(--backgroundClr);
	color: var(--topClr);
	overflow-x: hidden;
}
a
{
	text-decoration: none;
	color:inherit;
}
.on
{
  animation:on var(--speed1) 1 !important;
	display: block !important;
	opacity:1 !important;
 }
@keyframes o
{
	0%{opacity:0;margin-top:5px;};
	100%{opacity:1;margin-top:0%};
}
@keyframes on
{
	0%{opacity:0;margin-left:-20px !important;};
	100%{opacity:1;margin-left: 0px !important;};
}
.btn
{
	cursor: pointer;
	transition: all var(--speed1);
	/*outline: 1px solid black;*/
}

.page
{
	position: absolute;
	display: none;
	padding-bottom:12vh;
}

/* STYLES */
/* STYLES */
/* STYLES */
#hamburger,#menu,.page,.modalButton,#closeMenu
{
  /*! transition: background-color .5s !important; */
}
/*body.oddbeep,#hamburger.oddbeep,#menu.oddbeep,.page.oddbeep,.modalButton.oddbeep,#closeMenu.oddbeep*/
.first
{
  background-color: var(--FIbackgroundClr) !important;
}
#hamburger.first
{
	display: none;
}
#menu.on.first
{
  animation: unset !important;
	
}
#intro
{
  background-color: #EAEAEA !important;
	position: fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	z-index: 200;
}
#introVideo
{
  background-color: #151515 !important;
	position: fixed;
	top:calc(50vh - 200px);
	left:calc(50vw - 200px);
	height: 400px;
	width: 400px;
	z-index: 200;
	cursor: pointer;
	transition: all .22s;
	filter: invert(100%);

}
#intro:after
{
	content: 'click to explore';
	font-size: 30px;
	top:10px;
	position: absolute;
	text-align: center;
	width: 100vw;
	margin-top: calc(50vh + 220px);
	background:none !important;
	animation: clic 12s 1;
}
@keyframes clic
{
	0%{opacity: 0;}
	80%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes click
{
	0%{content: 'click to explore';} 
	25%{content: 'クリックして探索';}
	50%{content: 'cliquez pour explorer';}
	75%{content: 'clic para explorar';}
}
#introVideo:hover
{
	transform: scale(110%);
}
.oddbeep
{
  background-color: var(--OBbackgroundClr) !important;
	/*outline: 1px solid var(--OBtop2Clr);
	color:var(--OBtopClr);*/
}

.crustiestthoughts
{
  background-color: var(--CTbackgroundClr) !important;
	/*outline: 1px solid var(--CTtop2Clr);
	color:var(--CTtopClr);*/
}

.photography
{
  background-color: var(--PHbackgroundClr) !important;
	/*outline: 1px solid var(--PHtop2Clr);
	color:var(--PHtopClr);*/
}
.webdesign
{
  background-color: var(--WDbackgroundClr) !important;
	/*outline: 1px solid var(--WDtop2Clr);
	color:var(--WDtopClr);*/
}
.graphicdesign
{
  background-color: var(--GDbackgroundClr) !important;
}
.music
{
  background-color: var(--MUbackgroundClr) !important;
}
.gif
{
  background-color: var(--GIbackgroundClr) !important;
}
.about
{
  background-color: var(--ABbackgroundClr) !important;
}
.first
{
	background-color:var(--FIbackgroundClr) !important;
}
.navigation.row:hover
{
}

.page.gif
{
background-color:#00000000 !important;
}

#menu.gif
{

	background-image: linear-gradient( 45deg,
	#E66E6E 0%, 
	#E66E6E 20%, 
	#E8BB66 20%, 
	#E8BB66 40%,
	#80EC6F 40%,
	#80EC6F 60%,
	#74BBE6 60%,
	#74BBE6 80%,
	#B678E6 80%,
	#B678E6 100%
) !important;
}
#secretBackground
{
	position: fixed;
		top:0vw;
	left:0vw;
	height: 100vh;
	width: 100vw;
			background-image: linear-gradient(
	#E66E6E 0%, 
	#E66E6E 20%, 
	#E8BB66 20%, 
	#E8BB66 40%,
	#80EC6F 40%,
	#80EC6F 60%,
	#74BBE6 60%,
	#74BBE6 80%,
	#B678E6 80%,
	#B678E6 100%
) !important;
	display: none;
	background-position: 0px 0px;
	animation: secretAnimation 4s infinite linear;
}
#secretBackground.gif
{
	display: block;
}
@keyframes secretAnimatio
{
	0%{transform: rotate(0deg)}
	100%{transform: rotate(360deg)}
}
@keyframes secretAnimation
{
	0%{background-position: 0 0;}
	19.99%{background-position: 0 0;}
	20%{background-position: 0 20vh;}
	39.99%{background-position: 0 20vh;}
	40%{background-position: 0 40vh;}
	59.99%{background-position: 0 40vh;}
	60%{background-position: 0 60vh;}
	79.99%{background-position: 0 60vh;}
	80%{background-position: 0 80vh;}
	100%{background-position: 0 80vh}
}
/* MENU */
/* MENU */
/* MENU */



#hamburger
{
	background: var(--iconHamb) var(--backgroundClr) no-repeat;
	width: 100vw;
  right:0;
}
#hamburger.first
{
	background-position: 10vw center !important;
	
}
#hamburger.first::after
{
	content: 'click to explore' !important;
	font-size: 30px;
	text-align: center;
	text-indent: 10vw;
	margin-top: calc(6vh - 20px);
	background:none !important;
}
#back
{
	background: var(--iconBack) var(--backgroundClr) no-repeat;
	/*! display: none; */
	width: 0vw;
	left:-1px;
}
#back:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	content: '';
	position: absolute;
	background: var(--iconPrevious) no-repeat;
	background-position: center;
	opacity: 0;
}
#hamburger,#back
{
	display: block;
	bottom: 0;
	position: fixed !important;
	background-position: center;
	z-index: 49;
	height: 12vh;
	opacity: 1;
	outline:1px solid var(--top2Clr);
	/*! transition: width .12s !important; */
}
#hamburger:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	content: '';
	position: absolute;
	background: var(--iconHamb) no-repeat;
	background-position: center;
}
#hamburger.alt
{
	width: 50vw;
}

#back.alt
{
	width: 50vw;
	left:0;
}
#menu
{
	position: fixed;
	background:none;
	z-index: 50;
	border-width: unset;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background:var(--backgroundClr);
	display: none;
}

#closeMenu.first
{
	display: none;
}

.separator
{
	margin-left: 40%;
	width: 20%;
	border-bottom:1px solid var(--top2Clr);
	height: 0;
}
.navigation.row
{
	height: calc(100% / 8);
	width: 100%;
}
.navigation.block
{
	text-align: center;
	padding:0%;
	font-size: 40px;
	line-height: 11vh;
	letter-spacing: 1px;
}
#closeMenu
{
	bottom: 0;
	position: fixed !important;
	background: var(--iconCross) var(--backgroundClr) no-repeat;
	background-position: center;
	width: 100vw;
	height: 12vh;
	outline:1px solid var(--top2Clr);
}

/* GALLERY */
/* GALLERY */
/* GALLERY */

.post.column
{
	padding:5px;
	padding-top: 0px;
	flex: calc(50% - 10px);
  max-width: 50%;
	float: left;
	float:unset;
	width: 100%;
	height: 45%;
}
.post.column.large
{
  max-width: 100%;
	flex: calc(100% - 10px);
}
.post.row
{
	display:flex;
	height: auto;
  width: 100%;
	flex-wrap:wrap;
}
.post.pic,.picdesc
{
	margin: 2.5px 0 2.5px 0;
	width: 100%;
	cursor: pointer;
	outline:1px solid  var(--top2Clr);
}
.post.wd.container
{
	outline:1px solid  var(--top2Clr);
	margin: 2.5px 0 2.5px 0;
}
.pic.cover
{
	width: 100%;
}
.cover
{
	float: left;
	outline:1px solid  var(--top2Clr);
	width: calc(100% - 5px);
	margin:5px;
}
.coverpicture
{
	width: 100%;
}
.folder
{
	display: none;
	width: 100%;
}
.folders
{
	display: none;
}
/*.post.wd.container:after
{
	content: '';
	position: absolute;
	top:0;
	left:0;
	margin: 2.5px 0 2.5px 0;
	width: 50%;
	height: 100%;
	background: #FF000050;
	
}*/
.post.pic.wd
{
}


.post.desc
{
	padding:5%;
	text-align: center;
	font-size: 15px;
}

.textBlock
{
	position: relative;
	left:10px;
	width: calc(100vw - 10px * 2);
	font-size: 23px;
	-webkit-user-select:text;
  -ms-user-select: text;
  user-select: text;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: text;
	-moz-user-select:text;
}
.social.block
{
	position: relative;
	float: left;
	height: calc(88vh / 3);
	width: 50vw;
	cursor: pointer;
}
.social.copied
{
	position: absolute;
	line-height: calc(22vh + 30px);
	float: left;
	font-size: 30px;
	height: 100%;
	width: 100%;
	background:var(--backgroundClr);
	filter:invert(100%);
	text-align: center;
	left:0;
	display: none;
	z-index: 10;
	cursor:default;
	opacity: 1;
}
.social.copied.copiedOn
{
	display: block;
	animation:copiedOn 2s 1;
}
@keyframes copiedOn
{
	0%{opacity: 0;text-indent:-10px;}
	10%{opacity: 1;text-indent:0px;}
	90%{opacity: 1}
	100%{opacity: 0}
}
.social.logo
{
	height: 90%;
	width: 100%;
	background-position: center !important;
}
.social.name
{
	height: 50%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}
.social.block.mail
{
	width: 100%;
}
.social.name.mail::after
{
	content:'click to copy';
	font-size: 20px;
	float: left;
	width: 100%;
	position: relative;
	bottom:0px;
}
.social.logo::after
{
	font-size: 20px;
  position: absolute;
	text-align: center;
	width: 100%;
	bottom:25%;
}
.social.block.mail
{
	background:#48313D;
	background:var(--MAIbackgroundClr);
}

.social.name.mail
{
	padding-top:calc(10vh - 20px);
	font-size: 30px;
}
.social.logo.mail
{
	background:url('../icons/messenger.svg') no-repeat center;
}
.social.block.instagram
{
	background:var(--INSbackgroundClr);
}
.social.logo.instagram
{
	background:url('../icons/instagram.svg') no-repeat center;
}
.social.logo.instagram::after{content:'instagram';}
.social.block.messenger
{
	background:var(--MESbackgroundClr);
}
.social.logo.messenger
{
	background:url('../icons/messenger.svg') no-repeat center;
}
.social.logo.messenger::after{content:'messenger';}
.social.block.whatsapp
{
	background:var(--WHAbackgroundClr);
}
.social.logo.whatsapp
{
	background:url('../icons/whatsapp.svg') no-repeat center;
}
.social.logo.whatsapp::after{content:'whatsapp';}
.social.block.telegram
{
	background:var(--TELbackgroundClr);
}
.social.logo.telegram
{
	background:url('../icons/telegram.svg') no-repeat center;
}
.social.logo.telegram::after{content:'telegram';}


/* MODAL */
/* MODAL */
/* MODAL */


#modalBlock
{
	position: fixed;
	left:0;
	height:100%;
	width: 100%;
	z-index: 110;
	display: none;
	transition: opacity var(--speed1);
	background-color:rgba(0,0,0,.8);
}
#img00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: none !important;

}
#img00.animated-left
{
	/*
	animation: swipeL .12s 1 !important;
	*/
}
@keyframes swipeL
{
	0% {margin-left: -20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}

#img00.animated-right
{
	/*
	animation: swipeR .12s 1 !important;
	*/
}
@keyframes swipeR
{
	0% {margin-left: 20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}
#vid00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: appear .3s ;
	display:none;
}
.modalButton
{

	position: relative;
  float: left;
	height: 100%;
	width: calc(100% / 3);
	z-index:3;
	background-size:auto;
	background-position: center;
	cursor: pointer;
	transition: filter var(--speed1);
	background-color: var(--backgroundClr);
	background-color: unset;
	background-repeat: no-repeat;
}
#modalBtnsA,#modalBtnsB
{
	position: fixed;
	height: 12vh;
	width: 100vw;
	outline:1px solid var(--top2Clr);
	left:0;
	z-index: 3;
	background-color: var(--backgroundClr);
	overflow: hidden;
	
}
#modalBtnsA
{
	bottom:0;
}
#modalBtnsB
{
	top:0;
}
#mute,#reload,#source{
	display: none;
}

#exit,#exit:after,#closeMenu,#closeMenu:after
{
	background-image:var(--iconCross);
}

#previous,#previous:after
{

	background-image:var(--iconPrevious);
}


#next,#next:after
{
	background-image:var(--iconNext);
}
#mute.mute
{
	background-image:var(--iconMute);
}
#mute.sound
{
	background-image:var(--iconSound);
}


#mute{
	background-image:var(--iconSound);
}
#reload{
	background-image:var(--iconReload);
}
#source{
	/*background-image:var(--iconSource);*/
	width: 100%;
	text-align: center;
	padding-top:calc(6vh - 10px);
	font-size: 20px;
	height: calc(100% - (6vh - 10px));
}
#previous:after,#next:after,#exit:after,#closeMenu:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: auto;
	content: '';
	background-position: center;
	background-repeat: no-repeat;
}
#spFrame-In
{
	position: absolute;
	top:20%;
	left:4%;
	height:60%;
	width:92%;
	border:none;
	display:none;
}





