:root{

	--speed0: .32s;
	--speed1: .18s;
	--speed2: .06s;
	--speed3: .2s;

	--backgroundClr: #FAF3F1;
  --topClr:#111;
	--fontFaded:#333;
  --top2Clr:#11111147;
  --hoverClr:#FAF3F1;
	
	--white:#eaeaea;
	--white:#FAF3F1;
	--whiteGlass:#FAF3F1A1;
	--gray:#eaeaea;
	--black:#050C0E;
	
	--navColor:#FAF3F1AF;
	
	--margin1: 0px;
	--navHeight:80px;

	--icon4DNav:url('../icons/4dNav.svg');
	--iconHamb:url('../icons/hambLight.svg');
	--iconBack:url('../icons/backLight.svg');
	--iconCross:url('../icons/crossLight.svg');
	--iconPrevious:url('../icons/previousLight.svg');
	--iconNext:url('../icons/nextLight.svg');
	--iconReload:url('../icons/reloadLight.svg');
	--iconSource:url('../icons/sourceLight.svg');
	--iconMute:url('../icons/muteLight.svg');
	--iconSound:url('../icons/soundLight.svg');
}
::-webkit-scrollbar
{
	width: 20px;
}
::-webkit-scrollbar-track
{
	border-left:1px solid var(--top2Clr);
}
::-webkit-scrollbar-thumb
{
	border-left:1px solid var(--topClr);
}
audio
{
	position: relative;
	left:10%;
	width: 80%;
	margin-bottom:6%;
}
html
{
	/*scroll-behavior: smooth;*/
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
body
{
	position:absolute;
	top:0;
	left:0;
  margin:0;
	width: 100%;
  font-family: 'Yeseva One', sans-serif;
  background-color: var(--white);
	color: var(--black);
	overflow-x: hidden;
}
a
{
	text-decoration: none;
	color:inherit;
}
.on
{
  animation:on var(--speed1) 1 !important;
	display: block !important;
	opacity:1 !important;
 }
@keyframes o
{
	0%{opacity:0;margin-top:5px;};
	100%{opacity:1;margin-top:0%};
}
@keyframes on
{
	0%{opacity:0;margin-left:-20px !important;};
	100%{opacity:1;margin-left: 0px !important;};
}
#copyright
{
	position: fixed;
	font-size:15px;
	color:var(--fontFaded);
	width:fit-content;
	bottom:0;
	right:0;
	text-align:center;
	z-index:1;
	font-weight:300;
	padding:20px;
	background: var(--backgroundClr);
	z-index: 105;
}
.copyright
{
	position: relative;
	font-size:15px;
	color:var(--fontFaded);
	height: 30px;
	padding-top:10px;
	width: 100%;
	text-align:center;
	font-weight:300;
}
.btn
{
	cursor: pointer;
	transition: all var(--speed1);
	/*outline: 1px solid black;*/
}

.page
{
	position: absolute;
	display: none;
	padding-bottom:12vh;
}
#nav
{
	display: none;
}
#navMobile {
  display: flex;
  top: 0;
  position: fixed !important;
  background-position: center;
  z-index: 49;
  height: 12vh;
  opacity: 1;
  outline: 1px solid var(--top2Clr);
	background:var(--gray);
  transition: width .12s !important;
  width: 100vw;
  right: 0;
}
#navLogoMobile
{
	position: relative;
	float: left;
	height: 100%;
	width: 12vh;
	background:red;
	background: var(--icon4DNav);
 	background: var(--black);
	z-index: 5;
	cursor: pointer;
}
#navLogoPICMobile
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*filter: invert(100%);*/
	background: var(--icon4DNav);
	background-position: center;
}
#navTitle
{
	position: relative;
	float: left;
	height: 100%;
	width: 12vh;
	background:blue;
	background: var(--gray);
 	color: var(--black);
	flex:max-content;
	font-size: 20px;
	font-weight: 500;
	line-height: 12vh;
	text-align: center;
}
#navTitle.first
{
	background: invisible;
	color:invisible;
}
#hamburger
{
	position: relative !important;
	float:left;
	top: 0;
	height: 100%;
	width:12vh;
	z-index: 49;
	display: block;
	opacity: 1;
	background-position: center;
	/*! outline:1px solid var(--top2Clr); */
	/*! transition: width .12s !important; */
	background: var(--iconHamb)  no-repeat;
	background-color: var(--gray) !important;
	background-position: center;
}
#hamburger.active
{
	background: var(--iconCross) var(--gray) no-repeat;
}
#hamburger:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	/*! content: ''; */
	position: absolute;
	background: var(--iconHamb) no-repeat;
	background-position: center;
}
#hamburger.alt
{
	/*width: 50vw;*/
}

/* STYLES */
/* STYLES */
/* STYLES */
#hamburger,#menu,.page,.modalButton,#closeMenu
{
  /*! transition: background-color .5s !important; */
}
/*body.oddbeep,#hamburger.oddbeep,#menu.oddbeep,.page.oddbeep,.modalButton.oddbeep,#closeMenu.oddbeep*/
.first
{
  background-color: var(--FIbackgroundClr) !important;
}
#hamburger.first
{
	/*! display: none; */
}
#menu.on.first
{
  animation: unset !important;

}
#intro
{
  background-color: var(--white);
	position: fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100vw;
	/*! z-index: 200; */
}

#introVideo,#introPic
{
	position: fixed;
	top:calc(50vh - 200px);
	left:calc(50vw - 200px);
	height: 400px;
	filter: invert(100%);
	width: 400px;
}
#introVideo
{
	z-index: 2;
	cursor: pointer;
	transition: all .22s;
}
#introPic
{
	z-index: 1;
}
/*
#intro:after
{
	content: 'click to explore';
	font-size: 30px;
	top:10px;
	position: absolute;
	text-align: center;
	width: 100vw;
	margin-top: calc(50vh + 220px);
	background:none !important;
	animation: clic 12s 1;
}*/
@keyframes clic
{
	0%{opacity: 0;}
	80%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes click
{
	0%{content: 'click to explore';}
	25%{content: 'クリックして探索';}
	50%{content: 'cliquez pour explorer';}
	75%{content: 'clic para explorar';}
}
#introVideo:hover
{
	transform: scale(110%);
}
.oddbeep
{
  background-color: var(--OBbackgroundClr) !important;
	/*outline: 1px solid var(--OBtop2Clr);
	color:var(--OBtopClr);*/
}

.crustiestthoughts
{
  background-color: var(--CTbackgroundClr) !important;
	/*outline: 1px solid var(--CTtop2Clr);
	color:var(--CTtopClr);*/
}

.photography
{
  background-color: var(--PHbackgroundClr) !important;
	/*outline: 1px solid var(--PHtop2Clr);
	color:var(--PHtopClr);*/
}
.webdesign
{
  background-color: var(--WDbackgroundClr) !important;
	/*outline: 1px solid var(--WDtop2Clr);
	color:var(--WDtopClr);*/
}
.graphicdesign
{
  background-color: var(--GDbackgroundClr) !important;
}
.music
{
  background-color: var(--MUbackgroundClr) !important;
}
.gif
{
  background-color: var(--GIbackgroundClr) !important;
}
.about
{
  background-color: var(--ABbackgroundClr) !important;
}
.first
{
	background-color:var(--FIbackgroundClr) !important;
}
.navigation.row:hover
{
}

.page.gif
{
background-color:#00000000 !important;
}

#menu.gif
{

	background-image: linear-gradient( 45deg,
	#E66E6E 0%,
	#E66E6E 20%,
	#E8BB66 20%,
	#E8BB66 40%,
	#80EC6F 40%,
	#80EC6F 60%,
	#74BBE6 60%,
	#74BBE6 80%,
	#B678E6 80%,
	#B678E6 100%
) !important;
}
#secretBackground
{
	position: fixed;
		top:0vw;
	left:0vw;
	height: 100vh;
	width: 100vw;
			background-image: linear-gradient(
	#E66E6E 0%,
	#E66E6E 20%,
	#E8BB66 20%,
	#E8BB66 40%,
	#80EC6F 40%,
	#80EC6F 60%,
	#74BBE6 60%,
	#74BBE6 80%,
	#B678E6 80%,
	#B678E6 100%
) !important;
	display: none;
	background-position: 0px 0px;
	animation: secretAnimation 4s infinite linear;
}
#secretBackground.gif
{
	display: block;
}
@keyframes secretAnimatio
{
	0%{transform: rotate(0deg)}
	100%{transform: rotate(360deg)}
}
@keyframes secretAnimation
{
	0%{background-position: 0 0;}
	19.99%{background-position: 0 0;}
	20%{background-position: 0 20vh;}
	39.99%{background-position: 0 20vh;}
	40%{background-position: 0 40vh;}
	59.99%{background-position: 0 40vh;}
	60%{background-position: 0 60vh;}
	79.99%{background-position: 0 60vh;}
	80%{background-position: 0 80vh;}
	100%{background-position: 0 80vh}
}
/* MENU */
/* MENU */
/* MENU */

#hamburger.first
{
	/*! background-position: 10vw center !important; */

}
#hamburger.first::after
{
	/*! content: 'click to explore' !important; */
	font-size: 30px;
	text-align: center;
	text-indent: 10vw;
	margin-top: calc(6vh - 20px);
	background:none !important;
}
#back
{
	background: var(--iconBack) var(--gray) no-repeat;
	/*! display: none; */
	width: 0vw;
	left:-1px;
}
#back:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	content: '';
	position: absolute;
	background: var(--iconPrevious) no-repeat;
	background-position: center;
	opacity: 0;
}
#back
{
	display: block;
	top: 0;
	position: fixed !important;
	background-position: center;
	z-index: 49;
	height: 12vh;
	opacity: 1;
	outline:1px solid var(--top2Clr);
	/*! transition: width .12s !important; */
}

#back.alt
{
	width: 50vw;
	/*! left:0; */
}
#menu
{
	position: fixed;
	background:none;
	z-index: 50;
	border-width: unset;
	top:12vh;
	left:0;
	height:calc(100vh - 12vh);
	width:100vw;
	background:var(--gray) !important;
	display: none;
}

#closeMenu.first
{
	display: none;
}

.separator
{
	margin-left: 40%;
	width: 20%;
	border-bottom:1px solid var(--top2Clr);
	height: 0;
}
.navigation.row
{
	/*! height: calc(100% / 8); */
	width: 100%;
}
.navigation.block
{
	text-align: center;
	text-align: left;
	text-indent: 30px;
	padding:0%;
	font-size: 30px;
	line-height: 11vh;
	font-weight: 300;
	/*! letter-spacing: 1px; */
}
#closeMenu
{
	bottom: 0;
	position: fixed !important;
	background: var(--iconCross) var(--backgroundClr) no-repeat;
	background-position: center;
	width: 100vw;
	height: 12vh;
	outline:1px solid var(--top2Clr);
}

/* MAIN PAGE */
/* MAIN PAGE */
/* MAIN PAGE */
.main
{
	/*! position: absolute; */
	/*! padding:20px; */
	/*! width: calc(100% - 40px); */
}
#intro
{
	position: relative;
	height: fit-content;
	width: 100%;
	/*! display: inline-block; */
	/*! margin-top:var(--navHeight); */
}
.introTXT,.introPIC
{
	float: left;
}

.introText,.introPIC
{
	float: left;
}

.introPIC
{
	position: relative;
	width: 100%;
}
.introPics
{
	border:1px solid var(--backgroundClr);
	position: relative;
	height: 120px;
	width: calc(25% - 2px);
	width: 120px;
	float:right;
	background-size: cover;
	background-position: center;
}
.introText
{
	background: var(--black);
	
}
.introText,.categories
{
	position: static;
	top:0;
	left:0;
	width: 100%;
	padding:55px 0 55px 0;
	height: fit-content;
}
.introText.desc,.categories
{
	background: var(--white);
}
.introTXT.title.desc
{
	color: var(--white);
}
.introTXT.title.desc
{
	color: var(--white);
}
.introTXT.desc.undertitle
{
	background: var(--black);
	color: var(--white);
	text-align: center;
}
.introTXT
{
	width: 100%;
}
.introTXT.title,.title
{
	font-size:48px;
	font-weight: 400;
	text-align: center;
	width: 100% !important;
	left:0 !important;
	color: var(--white);
	margin:0;
} 
.introDesc.title
{
	color: var(--white);
	
}
.introTXT.undertitleBox
{
	width: 100%;
	margin-top:5px;
  display: flex;
}
.undertitleBoxA,.undertitleBoxB
{
	flex: max-content;
}
.introTXT.undertitle
{
	background: var(--white);
	color: var(--black);
	font-size:24px;
	font-weight: 500;
	text-align: center;
	width: 250px;
	padding:8px;
}
.category.pics
{
	height: 250px;
	vertical-align: top;   
}
.category.pics,.category.titlebox,.category.descs
{
	width: calc(250px + calc(8px * 2)) !important;
	margin-left:calc(50% - (250px / 2) - (8px)) !important;
}

.category.titlebox
{
	background: var(--black);
	display: flex;	
}
.category.titles,.category.arrows
{
	color: var(--white);
	padding:12px;
	font-size: 24px;
	font-weight: 500;
}
.category.titles
{
	flex: calc(80% - 12px);
	text-align: center;
}
.category.arrows
{
	display: none;
	flex: calc(20% - 12px);
}
.category.descs
{
	background: inherit;
	padding-top:20px;
	font-size:16px;
	text-align: center;
	font-weight: 500;
}
.title,.glitched4D
{
}
.glitched4D
{
	padding:0 0px 0 10px;
}
.glitched4D::after
{
	content:'aaa';
	font-size: inherit;
	animation: glitch4d 8s infinite;
}
@keyframes glitch4d{
	0% {content: '4';}
	5% {content: '4D';}
	10% {content: '4D4|';}
	18% {content: '4D|';}
	20% {content: '4D6';}
	25% {content: '4D61';}
	30% {content: '4D611|';}
	35% {content: '4D6114|';}
	40% {content: '4D6114';}
	45% {content: '4D611';}
	47% {content: '4D61';}
	50% {content: '4D617|';}
	55% {content: '4D6174|';}
	60% {content: '4D6174';}
	65% {content: '4D61746';}
	67% {content: '4D6174';}
	68.5% {content: '4D617';}
	70% {content: '4D6174|';}
	75% {content: '4D61747|';}
	80% {content: '4D617474';}
	90% {content: '4D61747|';}
	95% {content: '4D6174|';}
	96% {content: '4D617|';}
	97% {content: '4D61|';}
	98% {content: '4D6|';}
	98% {content: '4D|';}
	99% {content: '4|';}
	100% {content: '4';}
}

/*@keyframes glitch4d{
0% {content: '';}
10% {content: '|';}
20% {content: '';}
30% {content: '|';}
40% {content: '';}
50% {content: '|';}
60% {content: '';}
70% {content: '|';}
80% {content: '';}
90% {content: '|';}
100% {content: '';}
}*/
.desc
{
	/*! color:var(--fontFaded); */
	font-size: 20px;
}

/* GALLERY */
/* GALLERY */
/* GALLERY */

.post.column
{
	padding:5px;
	padding-top: 0px;
	flex: calc(50% - 10px);
  max-width: 50%;
	float: left;
	float:unset;
	width: 100%;
	height: 45%;
}
.post.column.large
{
  max-width: 100%;
	flex: calc(100% - 10px);
}
.post.row
{
	display:flex;
	height: auto;
  width: 100%;
	flex-wrap:wrap;
}
.post.pic,.picdesc
{
	margin: 2.5px 0 2.5px 0;
	width: 100%;
	cursor: pointer;
	outline:1px solid  var(--top2Clr);
}
.post.wd.container
{
	outline:1px solid  var(--top2Clr);
	margin: 2.5px 0 2.5px 0;
}
.pic.cover
{
	width: 100%;
}
.cover
{
	float: left;
	outline:1px solid  var(--top2Clr);
	width: calc(100% - 5px);
	margin:5px;
}

.coverpicture
{
	width: 100%;
}
.folder
{
	display: none;
	width: 100%;
}
.folders
{
	display: none;
}
/*.post.wd.container:after
{
	content: '';
	position: absolute;
	top:0;
	left:0;
	margin: 2.5px 0 2.5px 0;
	width: 50%;
	height: 100%;
	background: #FF000050;

}*/
.post.pic.wd
{
}


.post.desc
{
	padding:5%;
	text-align: center;
	font-size: 15px;
}

.textBlock
{
	position: relative;
	left:10px;
	width: calc(100vw - 10px * 2);
	font-size: 23px;
	-webkit-user-select:text;
  -ms-user-select: text;
  user-select: text;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: text;
	-moz-user-select:text;
}
.social.block
{
	position: relative;
	float: left;
	height: calc(88vh / 3);
	width: 50vw;
	cursor: pointer;
}
.social.copied
{
	position: absolute;
	line-height: calc(0vh + 80px);
	float: left;
	font-size: 30px;
	height: 100%;
	width: 100%;
	background:var(--backgroundClr);
	filter:invert(100%);
	text-align: center;
	left:0;
	display: none;
	z-index: 10;
	cursor:default;
	opacity: 1;
}
.social.copied.copiedOn
{
	display: block;
	animation:copiedOn 2s 1;
}
@keyframes copiedOn
{
	0%{opacity: 0;text-indent:-10px;}
	10%{opacity: 1;text-indent:0px;}
	90%{opacity: 1}
	100%{opacity: 0}
}
.social.logo
{
	height: 90%;
	width: 100%;
	background-position: center !important;
}
.social.name
{
	height: 50%;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}
.social.block.mail
{
	width: 100%;
}
.social.name.mail::after
{
	content:'click to copy';
	font-size: 20px;
	float: left;
	width: 100%;
	position: relative;
	bottom:0px;
}
.social.logo::after
{
	font-size: 20px;
  position: absolute;
	text-align: center;
	width: 100%;
	bottom:25%;
}
.social.block.mail
{
	/*background:#48313D;
	background:var(--MAIbackgroundClr);*/
}

.social.name.mail
{
	padding-top:calc(10vh - 20px);
	font-size: 30px;
}
.social.logo.mail
{
	background:url('../icons/messenger.svg') no-repeat center;
}
.social.block.instagram
{
	/*
	background:var(--INSbackgroundClr);
	*/
}
.social.logo.instagram
{
	background:url('../icons/InstagramMonoWhite.svg') no-repeat center;
}
/*.social.logo.instagram::after{content:'instagram';}*/
.social.block.messenger
{
	/*
	background:var(--MESbackgroundClr);
	*/
}
.social.logo.messenger
{
	background:url('../icons/MessengerMonoWhite.svg') no-repeat center;
}
/*.social.logo.messenger::after{content:'messenger';}*/
.social.block.whatsapp
{
	/*
	background:var(--WHAbackgroundClr);
	*/
}
.social.logo.whatsapp
{
	background:url('../icons/WhatsappMonoWhite.svg') no-repeat center;
}
/*.social.logo.whatsapp::after{content:'whatsapp';}*/
.social.block.telegram
{
	/*
	background:var(--TELbackgroundClr);
	*/
}
.social.logo.telegram
{
	background:url('../icons/TelegramMonoWhite.svg') no-repeat center;
}
/*.social.logo.telegram::after{content:'telegram';}*/
  .social.block.mail
  {
    width: 100%;
  }
  .social.name.mail
  {
		font-weight: 400;
   color:var(--backgroundClr);
   line-height: 0 !important;
   padding-top:40px;
  }
  .social.name.mail:after
  {
    content: none;
  }
  .social.block
  {
    background:var(--topClr);
    background:var(--black);
    height: 80px;
    outline: 1px solid var(--white);
  }
  .social.logo
  {
    height: 100%;
    background-size: 35px !important;
  }


/* MODAL */
/* MODAL */
/* MODAL */


#modalBlock
{
	position: fixed;
	left:0;
	height:100%;
	width: 100%;
	z-index: 110;
	display: none;
	transition: opacity var(--speed1);
	background-color:rgba(0,0,0,.8);
}
#img00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: none !important;

}
#img00.animated-left
{
	/*
	animation: swipeL .12s 1 !important;
	*/
}
@keyframes swipeL
{
	0% {margin-left: -20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}

#img00.animated-right
{
	/*
	animation: swipeR .12s 1 !important;
	*/
}
@keyframes swipeR
{
	0% {margin-left: 20px;opacity: 0;}
	100% {margin-left: 0px;opacity: 1;}
}
#vid00
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: appear .3s ;
	display:none;
}
.modalButton
{

	position: relative;
  float: left;
	height: 100%;
	width: calc(100% / 3);
	z-index:3;
	background-size:auto;
	background-position: center;
	cursor: pointer;
	transition: filter var(--speed1);
	background-color: var(--backgroundClr);
	background-color: unset;
	background-repeat: no-repeat;
}
.icons
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: inherit;
	background-position: inherit;
}

#modalBtnsA,#modalBtnsB
{
	position: fixed;
	height: 12vh;
	width: 100vw;
	outline:1px solid var(--top2Clr);
	left:0;
	z-index: 3;
	background-color: var(--backgroundClr);
	overflow: hidden;

}
#modalBtnsA
{
	bottom:0;
}
#modalBtnsB
{
	top:0;
}
#mute,#reload,#source{
	display: none;
}

#exitIcon,#exitIcon:after,#closeMenuIcon,#closeMenuIcon:after
{
	background-image:var(--iconCross);
}

#previousIcon,#previousIcon:after
{

	background-image:var(--iconPrevious);
}


#nextIcon,#nextIcon:after
{
	background-image:var(--iconNext);
}
#muteIcon.mute
{
	background-image:var(--iconMute);
}
#muteIcon.sound
{
	background-image:var(--iconSound);
}


#muteIcon{
	background-image:var(--iconSound);
}
#reloadIcon{
	background-image:var(--iconReload);
}
#source{
	/*background-image:var(--iconSource);*/
	width: 100%;
	text-align: center;
	padding-top:calc(6vh - 10px);
	font-size: 20px;
	height: calc(100% - (6vh - 10px));
}
#previousIcon:after,#nextIcon:after,#exitIcon:after,#closeMenu:after
{
	transition: all var(--speed1) !important;
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: auto;
	content: '';
	background-position: center;
	background-repeat: no-repeat;
}
#spFrame-In
{
	position: absolute;
	top:20%;
	left:4%;
	height:60%;
	width:92%;
	border:none;
	display:none;
}


/*exp*/
/**/

.cover.ph
{
	float: left;
	outline:1px solid  var(--top2Clr);
	width: calc(100% - 0px);
	height: calc(100vh - 0px);
	margin:none;
	outline:none;
	background-color:var(--backgroundClr);
	margin:-.5px 0 0 0;
}

.coverpicture
{
	height: 100%;
	width: 100%;
  background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	z-index: 1;
	transition: all var(--speed1);
	transition-timing-function:ease  !important;
}
.post.desc
{
  margin:-75px 0 0 20px;
	width:fit-content;
	background:var(--backgroundClr);
	background-color:inherit;
	font-size: 18px;
	z-index: 2;
	font-weight: 300;
	outline:1px solid var(--top2Clr);
	/*
	background-color:#00000080;
	backdrop-filter: blur(25px) saturate(150%);
	*/
}

.separator.alt
{
	height: 100vh;
	width: 0px;
	float: left;
	border-bottom:unset;
	border-left:1px solid var(--topClr);
}
.separator.alt2
{
	border-bottom:1px solid var(--gray);
}
/*
.post.desc
{
	margin:-124px 0 0 0;
	width:100%;
	padding: 20% 0 20% 0 ;
	background:var(--backgroundClr);
	background-color:inherit;
	font-size: 30px;
	z-index: 2;
}
