@media (min-width: 700px){
	.intro.hey{
		position: relative;
		width:50%;
		height:30vh;
		left:25%;
		top:10px;
		background:none;
	}
	.intro.iam{	
		position: relative;
		width:50%;
		left:25%;
		top:10px;
		font-size:2vh;
		text-align: center;
	}
	#intro{
		width: 80vw;
		left:10vw;
		height:50vh;
	}
	#videoWrapper
	{
		position:absolute;
		top:0;
		left:0%;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: 2;
	}
	#img00{
		background-size:contain;
	}
	.tabTitle{

		padding-top: 1.8vw;
		padding-bottom: 1.8vw;
		width:50%;
		left:25%;
		font-size:1.8vw;
		bottom:0%;

	}
	.menu.button{
		font-size:2.3vw;
	}
	#exit,#previous,#next{
	height: 5vw;
	width: 5vw;
	bottom:3vw;
	}
	#exit:hover,#previous:hover,#next:hover{
	filter:invert(0);
}

#exit{
		left:calc(50% - 2.5%);
}
#previous{	
		left:calc(45% - 2.5% - 10px);
}
#next{
	left:calc(55% - 2.5% + 10px);
}
	#menu{
		width:80%;
		eft:calc(50% - 500px);
		left:10%;;
	}
		.menuRow{
		height:calc(100% / 3);
		eight:40%;
	}
		#toggl{
		top:-200%;
	}
	.row{
		width:100% ;
	}
	.column{
		idth: 10%;
	}
	.tabContent{
		
		width: 80%;
		left:10%;
		height: auto;
	}
		#vid00{
	height: 100%;
	width: 100%;
	background-size:100%;
	z-index:2;
	animation: appear .3s ;
		}
	#menuRowTitle{
		font-size:30px;
	}
	{
		float:left;
	}
	#menuRowTitle{
  position: absolute;
  right:0%;
  width: 50%;
}
.menuRow.diff{
  width:50%;
	
}
.menuRow{
}
}
#menuDesc{
	position: absolute;
	top:calc(100%/3);
	right:0%;
	height:80%;
	left:50%;
	background:var(--aColor);
	transition:opacity .2s;
}
.buttonOff:hover,#menuRowTitle:hover{
filter:invert(100%);
}


