@media (max-width: 700px){
		#intro{
		width:100%;
		height:auto;
		padding-bottom:10%;
	}
	.intro.hey{
		position: relative;
		margin:4%;
		width: 92%;
		height:auto;
	}
	.intro.iam{
		position: relative;
		left:0px;
		top:0px;
		text-align: center;
		width:90%;
	}


	.tabContent{
		left:0%;
		width: 100%;
	}
	.menu.image{
		box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
	}
	.menuRow{
		height:calc(100% / 3);
		height:40%;
	}
	#toggl{
		top:-200%;
	}
	#First{
		ackground-color:blue;
	}
	#Second{
		ackground-color:yellow;
	}
	#Third{
		ackground-color:Orange;
	}

	#videoWrapper
	{
		display:none;
		position:absolute;
		top:0;
	left:0;
	height: 500px;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	}	
	#exit:hover,#previous:hover,#next:hover{
		filter:none;
	}
	#exit:active,#previous:active,#next:active{
			filter:invert(0);
			transition:filter .2s;
	}
	#vid00{
	height: 100%;
	width: 100%;
	background-size:100%;
	z-index:2;
	animation: appear .3s ;
		}
	#menuDesc{
		display: none;
}
}