@media (max-height:200px){
	header,#Main{
		visibility:hidden;
	}
	#ts{
		visibility:visible !important;
	}
}
@media (max-width: 1081px){
	header{
		left:0px;
		width: 100%;
  	height:120px !important;
		transform: none;
	}
	#Main{
		transform: none;
  	top:180px !important;
	}
	#logo4d{
	float:left;
	height:100%;
	width:20%;
	}
	#categories{
		float: left;
		text-align: left ;
		width:60%;
	}
	.category{
		font-size:21.8px !important;
		text-indent:0px !important;
	}
	.category:hover{
		text-indent:20px !important;
	}
}
