:root{
	--firstColor:#151515 ;
	--shadowColor: #120009;
  --aColor: #FFFFFF;
  --bColor: #000000;
}
/*debug*/
#intro,.tabContent{
	ackground:none;
}
html{
	scroll-behavior: smooth;
}
button
{
	border:none;
	cursor: pointer;
	font-size:3vh;
	font-family:'Comfortaa';
}
.rowButtons,.infoTitle
{
	transition: filter .2s; 
}
#int
{
	position: absolute;
	top:1%;
	left:35%;
	width: 30%;
  background: var(--bColor);
}
#intHey
{
	width: 100%;
	left:0%;
}
#intAbt
{
	color: var(--aColor);
	text-align: center;
	padding: 4%;
	font-size: 3vh;
}

#navigationBar
{
	position: fixed;
	width: 100%;
	height: 22%;
	left: 0px;
	bottom:0%;
	transition: bottom .3s;
	z-index:100;
}
#barMenu,#barInfo
{
	position: absolute;
  height:100%;
  width: 50%;
}
#barMenu
{
  left:0%;
	bottom:0%;
	z-index: 102;
}
#barInfo
{
	right:0%;
	z-index: 101;
  transition: bottom .4s;
}
#menuLeft,#menuRight
{
	position: relative;
	height: 100%;
	float: left;
  display: flex;
  flex-direction:column;
}
#menuLeft
{
	width: 75%;
}
#menuRight
{
	width: 25%;
}
.menuRows
{
	position: relative;
	height: calc(100%/3);
	width: 100%;
}
#rowA,#rowD
{
	order: 1;
}
#rowB,#rowE
{
	order: 2;
}
#rowC,#rowF
{
	order: 3;
}
#rowD
{
	transform: rotate(180deg);
	text-shadow: 2px 2px #ff0000;
}
.toggleOn
{
	filter:invert(100%);
	transform: rotate(0deg) !important;
}
.rowButtons
{
	position: relative;
	float: left;
	height: 100%;
	background-color:var(--bColor);
	color:var(--aColor);
	border:none;
}
.rowButtons:hover:not(.btnOn),.infoTitle:hover
{
	filter:invert(15%);
}
.btnOn
{
	filter:invert(100%);
}

.rowButtons.left
{
	width: calc(100%/3);
	
}
.rowButtons.right
{
	width: 100%;
}
.infoBlock
{
	display:none;
}
.infoBlock.default
{
	display:block;
}
.infoTitle,.infoDescription
{
	position: relative;
	width: 100%;
  background: var(--aColor);
}
.infoTitle
{
	height: calc(100%/3);
	color:var(--bColor);
}
.infoDescription
{
	text-align: left;
	padding:0px;
	height: calc(200%/3);
	color:var(--bColor);
}
.descContent
{
	padding-left:4%;
	padding-right:4%;
}
#modalBlock{
	position: fixed;
	height:100%;
	width: 100%;
	z-index: 101;
	display: none;
	transition: opacity .3s;
	background-color:rgba(0,0,0,.8);
}
@keyframes appear {
	from {opacity: 0;margin-top:5vw}
	to {opacity: 1;margin-top:0vw}
}
#img00{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size:100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index:2;
	animation: appear .3s ;
}
#exit,#previous,#next{
	position: absolute;
	background-color:var(--bColor);
	height: 20vw;
	width: 20vw;
	z-index:3;
	bottom:50px;
	background-image:url('cross.svg');
	background-size:cover;
	cursor: pointer;
	filter:invert(100%);
	transition: filter .1s;
}

#exit{
		left:calc(50% - 10vw);
	background-image:url('cross.svg');
}
#previous{

		left:calc(20% - 10px);
	background-image:url('previous.svg');
}
#next{
	left:calc(60% + 10px);
	background-image:url('next.svg');
}
.post{
	cursor: pointer;
	transition: filter .3s; 
	nimation: IMGappear .1s ;
}
.post:hover
{
	filter:brightness(1.2);
}
@keyframes IMGappear {
	from {opacity: 0;}
	to {opacity: 1;}
}
.modal-content{
	position: absolute;
	width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /*! padding: 0 4px; */
	padding-bottom:200px;
}
.column {
  flex: 25%;
  max-width: 50%;
  /*! padding: 0 4px; */
  padding-right: 4px;
  padding-left: 4px;
}

.column img, .column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
body
{
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	height:2000px;
	width: 100%;
	font-family: 'Comfortaa';
	background:#202020;
	#box-shadow: 0px 0px 0px 5px blue inset;
}
#bg{
	visibility:hidden;
	position: fixed;
	top:0px;
	left:0px;
	height: 100%;
	width:100%;
	background:linear-gradient(black, #131305);
	background-image:url('ng.png');
	filter:brightness(300%);
	background-repeat: repeat;
	background-size:auto;
}
#intro{
	color:var(--aColor);
	position: relative;
	width: 92%;
	height:450px;
	background-color:#252525;
  adding-bottom:10%;
}

.tabTitle{
	position: fixed;
  text-align: center;
	padding-top: 5%;
  padding-bottom:5%;
	width: 100%;
	left:0%;
	font-size:18px;
	bottom:0%;
	color:var(--aColor);
	background-color:#414141;
  box-shadow: inset 0px 26px 40px rgba(0, 0, 0, 0.3);
	z-index: 9;
	transition: bottom .3s;

}
.menu{
	position: relative;
	display: block;
	float:left;
	width: calc(100%/4);
	height: 100%;
	top: 0px;
  transition:filter .2s;
	border:none;
	background: linear-gradient(180deg, #2E2E2E 0%, #353535 100%);
	/* OMenuButtonShadows */
	cursor: pointer;
}


#toggl{
	background:var(--bColor);
	transition: top .3s;
}
.buttonOn{
	box-shadow: inset 0px -26px 54px rgba(255, 255, 255, 0.1);

}
.buttonOff{
	box-shadow: inset 0px 26px 54px rgba(255, 255, 255, 0.1);
}

.buttonImOff{

	filter:
		      drop-shadow(-4px 4px 4px rgba(255, 255, 255, 0.5))
		      drop-shadow(6px 6px 4px rgba(255, 255, 255, 0.2))
		      drop-shadow(-6px -6px 4px rgba(255, 255, 255, 0.2))
       		drop-shadow(6px -6px 8px rgba(0, 0, 0, 0.8));


}
.buttonImOn{
	filter:
		      drop-shadow(4px -4px 4px rgba(255, 255, 255, 0.5))
		      drop-shadow(-6px -6px 4px rgba(255, 255, 255, 0.2))
		      drop-shadow(6px 6px 4px rgba(255, 255, 255, 0.2))
       		drop-shadow(-6px 6px 8px rgba(0, 0, 0, 0.8));
}

.menuImage{
	position: absolute;
	left: calc(50% - 20px);
	top: 20%;
  height: 60%;
  transition:filter .2s;
	/* MenuButtonShadows */
	/* box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.08);*/
	/*
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.43)), drop-shadow(1px 2px 4px rgba(130, 130, 130, 0.25)), drop-shadow(-2px -2px 4px rgba(130, 130, 130, 0.25)), drop-shadow(2px -2px 4px rgba(255, 255, 255, 0.25));
	*/
	border-radius: 40px;
}
.menuImage::after
{
	bottom:0px;
	left:0px;
	position: fixed;
	height: 10px;
	width: 10px;
	background-color:var(--aColor);
}
.tabContent{
	position: absolute;
	left:0%;
	top: 40%;
	bottom: 0%;
	height: auto;
	width: 100%;
}
	#menuRowTitle{
		opacity: 0;
		width: 100%;
		transition:filter .2s;
		border:none;
		/* OMenuButtonShadows */
		cursor: pointer;
		text-align:center;
		background:var(--aColor);
		transition:opacity .2s;
		font-size:20px;
	  color:var(--bColor);
		font-family: Comfortaa;
	}
#First{
	ackground-color:blue;
}
#Second{
	ackground-color:yellow;
}
#Third{
	ackground-color:Orange;
}




@media (max-height:200px){
	header,#Main{
		visibility:hidden;
	}
	#ts{
		visibility:visible !important;
	}
}


@font-face
{
  font-family: 'robotothin';
	src: url(Roboto-Thin.ttf);

}
@font-face
{
  font-family: 'robotoregular';
	src: url(Roboto-Regular.ttf);

}
@font-face
{
  font-family: 'Comfortaa';
	src: url(Comfortaa-Regular.ttf);

}
#ts{
		visibility:hidden;
	  color:var(--aColor);
		text-align:center;
}
#menuRows{
	height:100%;
	width:100%;
  display: flex;
  flex-direction: column;
}
.menuRow{
	transition: height .3s;
}
.firstRow{
	order: 1;
}
.secondRow{
	order: 2; 
}
.thirdRow{
	order: 3; 
}
#sideRow{
	position: absolute;
	top:0%;
  height:100%;
	right:50%;
	background: var(--bColor);
	width:13%;
}
.menu.button.toggle{
	height:calc(100%/3);
	width:100%;
}
.mtheme{
	height:calc(100%/3);
	width:100%;
}
#curtains{
	top:-100%;
	height:100%;
	width:100%;
	position: fixed;
	background:var(--bColor);
	z-index: 200;
	animation: disappear 1s;
	animation-iteration-count: 1;
}
@keyframes disappear {
	0% {opacity: 1;top:0%;}
	80% {opacity: 1;top:0%;}
	99% {opacity: 0;top:0%;}
	100% {opacity: 0;top:-100%;}
}
#cLogo{
	background:url(4v.svg);
	background-size:40%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
	width: 100%;
	filter:invert(93%);
}
/*#curtains
{
	top:0%;
	display: block;
	opacity: 1;
	background-color:var(--aColor);
}*/
#navigationBar
{
	bottom:-20%;
}
#barMenu
{
	bottom:0%;
}
#barInfo
{
	bottom:calc(100%/3);
}
