.menuImage{
  filter:none;
}
.menu{
  background:black;
}
.buttonOn{
  filter:invert(100%);
  transition: filter 0s;
}
.buttonImOff{
  filter:none ;
}
body{
  background-color: white;
  ackground-color: #99ff99;
}
#menu{
  background:none;
}
.menuImage{
  opacity:1;
  border-radius: 0px;
  width:100%;
  height: 100%;
  top:0px;
  left:0px;
}
.menuImage.first,.menuImage.second,.menuImage.third{
  opacity: 0;
}
.menu.button{
	font-family: 'Comfortaa';
  font-size:28px;
  color:white;
  box-shadow: none;
}
.menu.button.ninth::after{
  position: absolute;
  text-indent:-40px;
  nimation: textAbout 2.5s infinite;
  animation-timing-function:linear;
  content:"";
}
@keyframes textAbout {
	0% {content:'ab';}
	19% {content:'ab';}
	20% {content:'ab';}
	40% {content:'out';}
	100% {content:'me';}

}

.tabTitle{
  background-color: white;
  box-shadow: none;
  color:black;
}
.intro.hey{
	margin:0px;
	width: 100%;
	border-radius:0px;
}
.intro{
	olor:black;
	background:none;
}
#intro{
  background-color:black;
  color:white;
}