body
{
	background-color:#191c23;
}
#Main
{

	background-color:#e5e5e5;
}
#box1
{
	background-color:#d22630;
}
#box2
{
	background-color:#7cb300;
}
#box3
{
	background-color:#0c2340;
}
#box4
{
	background-color:#5c1980;
}
#box5
{
	background-color:#4a7728;
}
#box6
{
	background-color:#fc4b01;
}
#box7
{
	background-color:#fedc00;
}
#box8
{
	background-color:#171b37;
}