
#preloadImages {
  height:0px;
  width:0px;
  display:inline;
  background-image: url("/badges/alibi.svg");
  background-image: url("/badges/ash.svg");
  background-image: url("/badges/bandit.svg");
  background-image: url("/badges/blackbeard.svg");
  background-image: url("/badges/blitz.svg");
  background-image: url("/badges/buck.svg");
  background-image: url("/badges/capitao.svg");
  background-image: url("/badges/castle.svg");
  background-image: url("/badges/caveira.svg");
  background-image: url("/badges/clash.svg");
  background-image: url("/badges/doc.svg");
  background-image: url("/badges/dokkaebi.svg");
  background-image: url("/badges/echo.svg");
  background-image: url("/badges/ela.svg");
  background-image: url("/badges/finka.svg");
  background-image: url("/badges/frost.svg");
  background-image: url("/badges/fuze.svg");
  background-image: url("/badges/glaz.svg");
  background-image: url("/badges/gridlock.svg");
  background-image: url("/badges/hibana.svg");
  background-image: url("/badges/iq.svg");
  background-image: url("/badges/jackal.svg");
  background-image: url("/badges/jager.svg");
  background-image: url("/badges/kaid.svg");
  background-image: url("/badges/kapkan.svg");
  background-image: url("/badges/lesion.svg");
  background-image: url("/badges/lion.svg");
  background-image: url("/badges/maestro.svg");
  background-image: url("/badges/maverick.svg");
  background-image: url("/badges/mira.svg");
  background-image: url("/badges/montagne.svg");
  background-image: url("/badges/mozzie.svg");
  background-image: url("/badges/mute.svg");
  background-image: url("/badges/nomad.svg");
  background-image: url("/badges/pulse.svg");
  background-image: url("/badges/rook.svg");
  background-image: url("/badges/sledge.svg");
  background-image: url("/badges/smoke.svg");
  background-image: url("/badges/tachanka.svg");
  background-image: url("/badges/thatcher.svg");
  background-image: url("/badges/thermite.svg");
  background-image: url("/badges/twitch.svg");
  background-image: url("/badges/valkyrie.svg");
  background-image: url("/badges/vigil.svg");
  background-image: url("/badges/ying.svg");
  background-image: url("/badges/zofia.svg");
  background-image: url("thumbnails/maps/bank.jpg");
  background-image: url("thumbnails/maps/border.jpg");
  background-image: url("thumbnails/maps/chalet.jpg");
  background-image: url("thumbnails/maps/club house.jpg");
  background-image: url("thumbnails/maps/coastline.jpg");
  background-image: url("thumbnails/maps/consulate.jpg");
  background-image: url("thumbnails/maps/favela.jpg");
  background-image: url("thumbnails/maps/fortress.jpg");
  background-image: url("thumbnails/maps/hereford base.jpg");
  background-image: url("thumbnails/maps/house.jpg");
  background-image: url("thumbnails/maps/kafe dostoyevsky.jpg");
  background-image: url("thumbnails/maps/kanal.jpg");
  background-image: url("thumbnails/maps/oregon.jpg");
  background-image: url("thumbnails/maps/outback.jpg");
  background-image: url("thumbnails/maps/presidential plane.jpg");
  background-image: url("thumbnails/maps/skyscrapper.jpg");
  background-image: url("thumbnails/maps/theme park.jpg");
  background-image: url("thumbnails/maps/tower.jpg");
  background-image: url("thumbnails/maps/villa.jpg");
  background-image: url("thumbnails/maps/yacht.jpg");

  background-image: url("thumbnails/mode/hostage.jpg");
  background-image: url("thumbnails/mode/secure.jpg");
  background-image: url("thumbnails/mode/bomb.jpg");
  background-image: url();
}
