
#preloadImages{
  height:0px;
  width:0px;
  display:inline;
  background-image: url("/badges/alibi.png");
  background-image: url("/badges/ash.png");
  background-image: url("/badges/bandit.png");
  background-image: url("/badges/blackbeard.png");
  background-image: url("/badges/blitz.png");
  background-image: url("/badges/buck.png");
  background-image: url("/badges/capitao.png");
  background-image: url("/badges/castle.png");
  background-image: url("/badges/caveira.png");
  background-image: url("/badges/clash.png");
  background-image: url("/badges/doc.png");
  background-image: url("/badges/dokkaebi.png");
  background-image: url("/badges/echo.png");
  background-image: url("/badges/ela.png");
  background-image: url("/badges/finka.png");
  background-image: url("/badges/frost.png");
  background-image: url("/badges/fuze.png");
  background-image: url("/badges/glaz.png");
  background-image: url("/badges/gridlock.png");
  background-image: url("/badges/hibana.png");
  background-image: url("/badges/iq.png");
  background-image: url("/badges/jackal.png");
  background-image: url("/badges/jager.png");
  background-image: url("/badges/kaid.png");
  background-image: url("/badges/kapkan.png");
  background-image: url("/badges/lesion.png");
  background-image: url("/badges/lion.png");
  background-image: url("/badges/maestro.png");
  background-image: url("/badges/maverick.png");
  background-image: url("/badges/mira.png");
  background-image: url("/badges/montagne.png");
  background-image: url("/badges/mozzie.png");
  background-image: url("/badges/mute.png");
  background-image: url("/badges/nomad.png");
  background-image: url("/badges/pulse.png");
  background-image: url("/badges/rook.png");
  background-image: url("/badges/sledge.png");
  background-image: url("/badges/smoke.png");
  background-image: url("/badges/tachanka.png");
  background-image: url("/badges/thatcher.png");
  background-image: url("/badges/thermite.png");
  background-image: url("/badges/twitch.png");
  background-image: url("/badges/valkyrie.png");
  background-image: url("/badges/vigil.png");
  background-image: url("/badges/ying.png");
  background-image: url("/badges/zofia.png");
  background-image: url();
}
