:root {
  --color1:rgba(10,10,15,.5);
	/*#101015*/;
}	
body
{	
	font-family: 'Raleway', Arial;
	text-decoration: none;
	background-color:#15191e;
	-moz-user-select: none;
	user-select:none;
}
#background
{
	position: fixed;
	height: 100%;
	width: 100%;
	top:-0%;
	left:-0%;
	/*
	bckground-size: 100% 100%;
	background-position: center;
	background-attachment:fixed ;
	background-image: url('bg.png');*/
 	background-image: linear-gradient(to left top, #1e0f17, #221520, #241b2b, #232235, #1e293f);
}
@media (max-width: 500px)
{
	#operatorSelectBoard
	{
  	top:0px !important;
  	left:0px !important;
  	height:100% !important;;
  	width:100% !important;;
	}
	#buttonRST
  { 
		position: fixed !important;
		
	.operatorBadge
	{
		height: 80% !important;
	}
}
#operatorSelectBoard
{
	z-index: 100;
	position:absolute;
	top:calc(50% - 250px);
	left:calc(50% - 225px);
	height:calc(550px + 2px);
	width:calc(450px + 2px);
	display: block;
	background-color:var(--color1);
	box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	/*overflow: hidden;
	border-radius:4px;*/
}
.operatorSelect
{
	height: 90px;
	display: block;
	float: left;
}
#buttonRST:hover,#buttonATK:hover#buttonDEF:hover
{
	background:#353540;
	transition:background 0.2s;
}
#buttonRST
{
	z-index: 101;
	position: absolute;
	bottom:0px;
	height: 50px;
	width: 100%;
	background:#202028;	
	color:white;
	text-align: center;
	text-indent: 0px;
	cursor:pointer;
	font-size:15px;
	/*border-radius:0px 0px 4px 4px;*/
}
#buttonATK,#buttonDEF
{
	z-index: 101;
	position: relative;
	float: left;
	height: 50px;
	width: 50%;
	background:#202028;	
	color:white;
	text-align: center;
	text-indent: 0px;
	cursor:pointer;
	font-size:15px;
}
#buttonATK
{
	background:#eb7116;
}
#buttonDEF
{
	background:#1489e0;
}
#operatorsAttack,#operatorsDefense
{
	display: none;
	position: absolute;
	top:50px;
	height:auto;
	width:auto; 
}
#operatorsAttack
{
	border:1px solid #eb7116;
	/*box-shadow: 0px 0px 0px 2px #eb7116 inset;*/
}
#operatorsDefense
{	
	border:1px solid #1489e0;
}
.operatorBadge
{
	height: 100%;
	display: block;
	float: left;
	margin:;
	cursor: pointer;
	/filter:grayscale(100%) invert(1);
	transition:0.2s;
}
.operatorBadge:hover
{
}
