:root {
  --color1:rgba(10,10,15,.2);
  --color2:#212129;
	--color2hover:#353540;
  --color3:#252533;
	--color3hover:#393950;
  --color4:rgba(255,255,255,0.05);
  --color5:rgba(255,255,255,0.03);
  --color5hover:rgba(255,255,255,0.1);
	--textShadowColor:rgba(0,0,0,.5);
	/*#101015*/;
}
body
{
	font-family: 'Raleway', Arial;
	text-decoration: none;
	background-color:#15191e;
	-moz-user-select: none;
	user-select:none;
}
#siegeTool
{
	opacity: 1;
	animation-name: siegeT;
	animation-duration: 3s;
	animation-iteration-count:1;	
}
@keyframes siegeT
{
	0% { opacity: 0;}
	90% { opacity: 0;}
	100% { opacity: 1;}
}
#loadingScreen
{
	position:fixed;
	top:calc(50% - 100px);
	left:calc(50% - 100px);
	height: 200px;
	width: 200px;
	z-index: 1;
	opacity: 0;
	background: url("siegeToolLoading.png");
	background-size: 200px;
	background-position: center;
	animation-name: loadingScreen;
	animation-duration: 1.5s;
	animation-iteration-count:2;	
}
@keyframes loadingScreen
{
	0% { opacity: 0;}
	50% { opacity: 1;}
	100% { opacity: 0;}
}
#background
{
	position: fixed;
	height: 100%;
	width: 100%;
	top:-0%;
	left:-0%;
	/*
	bckground-size: 100% 100%;
	background-position: center;
	background-attachment:fixed ;
	background-image: url('bg.png');*/
 	background-image: linear-gradient(to right bottom, #944a87, #944b91, #924c9c, #8d4fa8, #8752b4, #7852b1, #6951ad, #5a50a8, #474992, #38417c, #2c3965, #24304f);
}
#menu
{
	position:absolute;
	top:calc(50% - 250px);
	left:calc(50% - 225px - 20px - 50px);
	height:calc(500px + 2px);
	width:50px;
	display: block;
	background:var(--color4);
	box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px var(--color4) inset;
}
#menuOperators, #menuMap
{
	position: relative;
	height: 50%;
	width: ;
	transition: 0.2s;
	cursor:pointer;
	background-color:var(--color4);
	background-position: center;
	background-repeat: no-repeat;
}
#menuOperators
{
	background-image: url("button1.png");
}
#menuMap
{
	background-image: url("button2.png");
}
#menuOperators:hover, #menuMap:hover
{
	background-color:var(--color2hover);
}
#operatorSelectBoard
{
	z-index: 100;
	position:absolute;
	top:calc(50% - 250px);
	left:calc(50% - 225px);
	height:calc(550px + 2px);
	width:calc(450px + 2px);
	display: block;
	background-color:var(--color1);
	box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	/*overflow: hidden;
	border-radius:4px;*/
}
#buttonRST,#buttonRSTB,#buttonBCK
{
	z-index: 101;
	position: absolute;
	bottom:0px;
	height: 50px;
	color:white;
	text-align: center;
	text-indent: 0px;
	cursor:pointer;
	font-size:15px;
	transition:0.2s;
	background:var(--color4);
	box-shadow: 0px 0px 0px 1px var(--color4) inset;
	/*border-radius:0px 0px 4px 4px;*/
}
#buttonRST
{
	width: 100%;
}
#buttonRST:hover,#buttonRSTB:hover,#buttonBCK:hover
{
	background:var(--color5hover);
}
#buttonATK,#buttonDEF
{
	z-index: 101;
	position: relative;
	float: left;
	height: 50px;
	width: 50%;
	background:#202028;
	color:white;
	text-align: center;
	text-indent: 0px;
	cursor:pointer;
	font-size:15px;
}
#buttonATK
{
	background:#eb7116;
}
#buttonDEF
{
	background:#1489e0;
}
#operatorsAttack,#operatorsDefense
{
	display: none;
	position: absolute;
	top:50px;
	height:calc(100% - 102px);
	width:auto;
}
#operatorsAttack
{
	border:1px solid #eb7116;
	/*box-shadow: 0px 0px 0px 2px #eb7116 inset;*/
}
#operatorsDefense
{
	border:1px solid #1489e0;
}
.operatorBadge
{
	height: 90px;
	display: block;
	float: left;
	margin:;
	cursor: pointer;
	/filter:grayscale(100%) invert(1);
	transition:0s;
}

#buttonRSTB
{
	left:0px;
	width: 70%;
}
#buttonBCK
{
	right: 0px;
	width: 30%;
}
#mapInfo
{
	z-index: 100;
	position:absolute;
	top:calc(50% - 250px);
	left:calc(50% - 225px);
	height:calc(550px + 2px);
	width:calc(450px + 2px);
	display: block;
	background-color:var(--color1);
	box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	/*overflow: hidden;
	border-radius:4px;*/
}
tr#mapInfoTitle
{
	z-index: 101;
	position: relative;
	height: 50px;
	width: 100%;
	table-layout:fixed ;
	border-spacing: 0px;
	border-collapse: collapse;
	color:white;
	background:var(--color2);
	font-size:15px;
	text-align: center;
	text-transform: capitalize;
	background:var(--color4);
	box-shadow: 0px 0px 0px 1px var(--color4) inset;
}
#mapInfoTitleB
{
}
#mapSelection,#spawnSelection,#resultScreen,#modeSelection
{
	z-index: 101;
	position: relative;
	height: calc(100% - 100px)/*calc(450px + 2px)*/;
	width: 100%;
	background:var(--color5);
	color:rgb(220,220,220);
	text-align: center;
	text-indent: 0px;
	font-size:15px;
	transition:0.2s;
	/*
	overflow-x: hidden;
	overflow-y: scroll;
	*/
	/*border:1px solid #eb7116;*/
}
.mapThumb
{
	z-index: 102;
	position: relative;
	height: calc(100% / 7);
	width:calc(100% / 3);
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	text-align: center;
	text-transform: capitalize;
	text-shadow:1px 1px 5px black, -1px -1px 5px black;
	box-shadow: 0px -30px 20px rgba(0,0,0,.7) inset;
	line-height: 65px;
	transition: 0.2s;
}
.mapThumb:hover
{
	box-shadow: 0px -30px 20px rgba(250,250,250,.0) inset;
}

#modeHostage,#modeSecure,#modeBomb
{
	z-index: 101;
	position: relative;
	float:top;
	height:calc(100% / 3);
	width: 100%;
	background-size: 100%;
	transition:0.2s;
	text-transform: capitalize;
	cursor: pointer;
	font-size:40px;
	line-height:150px;
	background-size:100%;
	background-repeat: no-repeat;
	text-shadow:1px 1px 15px black;
	box-shadow: 0px -50px 20px rgba(255,255,255,.03) inset, 0px -105px 20px rgba(0,0,0,.3) inset;
}
#modeHostage:hover,#modeSecure:hover,#modeBomb:hover
{
	box-shadow: 0px -50px 20px rgba(255,255,255,0) inset, 0px -105px 20px rgba(0,0,0,0) inset;
}
#modeHostage
{
	background-image:url("thumbnails/mode/hostage.jpg");
}
#modeSecure
{
	background-image:url("thumbnails/mode/secure.jpg");
}
#modeBomb
{
	background-image:url("thumbnails/mode/bomb.jpg");
}
#spawnSelection
{
	display: inline-block;
}
.spawnLocations
{
	z-index: 101;
	position: relative;
	float:top;
	height:calc(100% / 4);
	width: 100%;
	background-size: 100%;
	font-size:20px;
	transition:0.2s;
	background-size:100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 80px 35px rgba(255,255,255,.05) inset, 0px -400px 0px 0px rgba(0,0,0,.5) inset;
	cursor: pointer;
}
.spawnLocationsImages:hover
{
	box-shadow:0px -50px 20px rgba(255,255,255,0) inset, 0px -105px 20px rgba(0,0,0,0) inset;
}
.spawnLocationsImages
{
	z-index: 1;
	width: 100%;
}
.spawnLocationsNames
{
	position:absolute;
	left:0px;
	bottom:10px;
	width:100%;
	z-index: 102;
	font-weight: bold;
	color:#c0c0c0;
	/*text-shadow:1px 1px 2px black,-1px -1px 2px black;*/
	text-shadow:
		2px 2px 2px var(--textShadowColor),-2px -2px 2px var(--textShadowColor),
		-2px 2px 2px var(--textShadowColor),2px -2px 2px var(--textShadowColor);
}
.rsNames,.rsResults
{
	position: relative;
  float: left;
	margin-top:0px;
	height: 90.5px;
	width: 50%;
	font-size: 24px;
}
.rsNamesB,.rsResultsB,#rsSiteA,#rsSiteB
{
	position: relative;
  float: left;
	font-size: 15px;
	height: 38px;
}
.rsNamesB,.rsResultsB
{
	width: 50%;
}
#rsSiteA,#rsSiteB
{
	width: 100%;
}
table
{
	width: 100%;
	table-layout:fixed;
	border-spacing: 0px;
	border-collapse:collapse;
}
td.rsBTd,th.rsBTh,tr.rsBTr
{
	padding:9.9px;
}
td.rsTd,td.rsTr
{
	padding:31px;
	font-size:20px;
}
